[2020-10-31 16:36] WenXin20 opened #1 "Server Crash"
`Minecraft v1.15.2`
`Forge v31.2.45`
`Outvoted vb0.2.1`

My server crashed trying to load the new update for this mod.
[Crash Report](https://gist.github.com/WenXin20/8923d4d999633f4ecfea446d0e06b0a0)

[2020-10-31 19:16] How-Bout-No commented on #1
Weird... this crash only happens on the server and not the client, correct?

[2020-10-31 19:31] Cixon opened #2 "[Client crash] Great Hunger consumption"
Great Hunger crash. It occurs when it consumes more than 2 enchantment books.
Here's the log: https://pastebin.com/VXLPmRgv

Also I have another suggestion. It is if you could add a config as to how many enchantment books the great hunger can consume so people can choose.

I prefer 2 as the max and I love that the great hunger doesn't consume enchanted items. This is already fair to be honest but

[2020-10-31 19:40] WenXin20 commented on #1
YesOn Oct 31, 2020 2:16 PM, Noah <notifications@github.com> wrote:
Weird... this crash only happens on the server and not the client, correct?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-31 19:42] How-Bout-No commented on #2
I'm surprised I didn't find this bug in my testing, it seems like an obvious thing 😅

I've had multiple requests to add a config, so I'll be doing that shortly. It won't be next update, as there's some important bugs I need to get fixed and pushed out ASAP.

[2020-10-31 19:46] How-Bout-No commented on #1
Apparently this is a common crash for all versions, I've narrowed down the problem and after I get a few more bugs fixed I'll push out an update on Curse.

[2020-10-31 19:47] WenXin20 commented on #1
Alright, thanks!

[2020-10-31 20:26] Cixon opened #3 "[Server Crash] 1.16.3 Outvoted-b0.2.1"
**desc:** _Forge v34.1.0 server cannot launch outvoted build._

[latest.log](https://github.com/How-Bout-No/Outvoted/files/5469764/latest.log)

[2020-10-31 20:27] Cixon commented on #2
sweet! cannot wait. :O

[2020-10-31 20:38] How-Bout-No commented on #3
Similar to #1 but on 1.16.3. This server crash seems to affect all versions, and next update (b0.2.2) should correct it.

[2020-10-31 20:54] How-Bout-No commented on #1
b0.2.2 is out on Curse for both 1.16.3 and 1.15.2. 1.16.1 update will be out shortly.
Please let me know if the problem persists, otherwise you are free to close this issue.

[2020-10-31 20:55] How-Bout-No commented on #3
b0.2.2 is out on Curse for both 1.16.3 and 1.15.2. 1.16.1 update will be out shortly.
Please let me know if the problem persists, otherwise you are free to close this issue.

[2020-10-31 20:56] How-Bout-No commented on #2
b0.2.2 is out which should correct this. Let me know if the issue persists, otherwise you can close this.
I'll move the config request to a separate issue for organization.

[2020-10-31 20:58] How-Bout-No opened #4 "Create Config"
- [x] Create base config
- [x] Ability to enable/disable mob spawns (Possibly further configuration?)
- [x] Ability to configure Great Hunger mechanics

[2020-11-02 00:44] #1 closed

[2020-11-02 00:44] #2 closed

[2020-11-02 00:44] #3 closed

[2020-11-02 00:46] How-Bout-No commented on #4
Implemented in 22f2e257d42cc058d17275950ba010fad13c653b. No release availability as of yet.

[2020-11-02 00:46] #4 closed

[2020-11-05 23:28] SirOMGitsYOU opened #6 "Geckolib 3.0.1 not detected"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. install gecko 3.0.1 Beta01/02
2. Install outvoted
3. Crash

**Expected behavior**
No crash & detect mod

**Screenshots/Logs**
[crash-2020-11-05_23.25.53-fml.txt](https://github.com/How-Bout-No/Outvoted/files/5497998/crash-2020-11-05_23.25.53-fml.txt)

**Version (please com

[2020-11-06 00:02] How-Bout-No commented on #6
Geckolib 3.0.0 is quite different than 2.x.x as it changes how animations are made/used, so it's not as simple as just updating to the newest version. As 3.0.0 is still in beta, I haven't begun updating the models, animations, and/or code related to it, but I will be at some point.

[2020-11-06 00:03] SirOMGitsYOU commented on #6
Ah I see okay, I’ll try get my client working with the version 2.

From: Noah<mailto:notifications@github.com>
Sent: 06 November 2020 12:02 AM
To: How-Bout-No/Outvoted<mailto:Outvoted@noreply.github.com>
Cc: Peter<mailto:omgpieisawesome@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [How-Bout-No/Outvoted] Geckolib 3.0.1 not detected (#6)

Geckolib 3.0.0 is quite different than

[2020-11-10 17:09] How-Bout-No opened #8 "Update to Geckolib 3.0.0"
Convert models, animations, code, whatever is needed to use Geckolib 3.0.0 from here on out.

[2020-11-10 17:11] How-Bout-No commented on #6
Closing this now, #8 was created to track 3.0.0 update and will be closed once implemented.

[2020-11-10 17:11] #6 closed

[2020-11-11 06:41] Cixon opened #9 "[1.16.4] Cannot launch minecraft using b0.3.1"
**Describe the bug**
Cannot load beta 0.3.1 on Forge [35.0.7].

**Steps to reproduce the behavior:**
1. Use Forge [35.0.7]
2. Launch Minecraft
3. See error

**Expected behavior**
Successful load. No errors.

**Screenshots/Logs**
![Screenshot (473)](https://user-images.githubusercontent.com/69068153/98777371-35e2ad00-23b6-11eb-872c-75ca9dff0886.png)

[latest.log](https://github.com/How-Bout-No/Outv

[2020-11-11 15:14] harmalom opened #10 "crash game"
when he attacks you, the game is closed
https://pastebin.com/nHQ5y4Ug
forge and the mod in the latest versions

[2020-11-11 17:18] How-Bout-No commented on #10
Weird... never had this happen to me in-game. I'll push out a fix shortly.

[2020-11-11 17:22] How-Bout-No commented on #9
Odd, I can't replicate this on my end (although I haven't tested Java 14). Does this issue still occur on the latest 1.16.4 forge? (35.0.15 as of writing)

[2020-11-11 17:33] How-Bout-No commented on #10
I've pushed b0.3.1-2 which should hopefully fix this issue.

[2020-11-11 23:17] #10 closed

[2020-11-12 01:20] Cixon commented on #9
Fixed in v3.1.2. Thanks!

[2020-11-12 01:20] #9 closed

[2020-11-12 01:32] How-Bout-No commented on #9
Interesting, I didn't even change anything related in that version, lol.

[2020-11-12 01:32] How-Bout-No commented on #8
Done in https://github.com/How-Bout-No/Outvoted/commit/166e345738a2640987532f6c0509f39816373c32

[2020-11-12 01:32] #8 closed

[2020-11-13 19:56] TheButterbrotMan opened #11 "Possible incompatible with AzureDoom's Doom Mod"
**Describe the bug**
I created my own modpack, with a bunch of mods. It looks like Outvoted is not compatible, with AzureDoom's Doom Mod. If i move Outvoted in the modlist, game crash instantly after loading with error -1.

**Screenshots/Logs**
latest.log: https://pastebin.com/T8aY0uJj

debuglog: https://pastebin.com/x0X79Uvh

**Version (please complete the following information):**
 - Minecraft V

[2020-11-13 20:23] How-Bout-No commented on #11
I speculate that this is in part due to how the current public versions of Outvoted use Geckolib 2, while AzureDoom's mod uses Geckolib 3 beta. Although the logs seem to indicate an issue on the Doom Mod's mixin configuration.
I think Geckolib allows you to run versions 2.x.x and 3.0.0-betas alongside each other (just not in Twitch/similar launchers), do you get the same crash if you have both Gec

[2020-11-13 23:57] TheButterbrotMan commented on #11
Hey, sorry for late reply. Was busy.

So i installed actually 2.x.x and 3.0.0 beta. It look like it works now (No Crashs).

Thank you. =)

[2020-11-14 00:16] How-Bout-No commented on #11
No problem! Just keep note that the next update will use Geckolib 3.0.0 so you won't need to use 2 different versions.

[2020-11-14 00:16] #11 closed

[2020-11-14 22:05] Gunner76th commented on #9
It should be noted that Java 8 should be used for all Modded Minecraft instances. Versions of Java 9-15 generally do not work properly and are therefore not advised at present. Until official word comes directly from the Forge team, only use Java 8.

[2020-11-23 03:00] Warbringer12 opened #12 "Rendering errors due to biome variants"
1. loaded into world

If applicable, add screenshots to help explain your problem, or logs from Pastebin or similar.
[crash-2020-11-22_18.44.14-client.txt](https://github.com/How-Bout-No/Outvoted/files/5580922/crash-2020-11-22_18.44.14-client.txt)
[debug.log](https://github.com/How-Bout-No/Outvoted/files/5580928/debug.log)
[latest.log](https://github.com/How-Bout-No/Outvoted/files/5580929/latest.l

[2020-11-23 03:40] How-Bout-No commented on #12
Judging by the log it looks like you're running Java 14, which can cause issues with Minecraft.
Are you able to try running Java 8 instead and try to see if the issues still stands?

[2020-11-23 18:13] Keb911 commented on #12
Can confirm it happens in java 8 too,

Java 1.8.0_271
Forge 35.1.2
Outvoted b0.4.1

[crash-2020-11-22_22.52.21-client.txt](https://github.com/How-Bout-No/Outvoted/files/5584912/crash-2020-11-22_22.52.21-client.txt)

[2020-11-23 22:34] How-Bout-No commented on #12
Interesting. Could both of you @Warbringer12 and @Keb911 try the jar in the attached zip file and report back if the issue still occurs? Thanks!
[outvoted-1.16.3-b0.4.1-a.jar.zip](https://github.com/How-Bout-No/Outvoted/files/5586137/outvoted-1.16.3-b0.4.1-a.jar.zip)

[2020-11-23 23:37] Keb911 commented on #12
The issue no longer occurs with that version, thanks.

[2020-11-23 23:44] How-Bout-No commented on #12
Great! I'll be pushing out an official update soon.

[2020-11-24 17:15] Charwten commented on #12
I downloaded the file you sent but I keep getting the same error. I'm running on 1.16.3 so I don't know if that can be an issue

[2020-11-24 17:22] How-Bout-No commented on #12
Oh, really? Are you getting the same error in the log or is it separate? So far everyone else has had success with it and I'm unable to replicate the issue on my end before + after fix for some odd reason.

[2020-11-24 17:26] Charwten commented on #12
Yeahh I just get the same error of this.
[crash-2020-11-24_11.23.10-fml.txt](https://github.com/How-Bout-No/Outvoted/files/5591610/crash-2020-11-24_11.23.10-fml.txt)

[2020-11-24 17:41] How-Bout-No commented on #12
Interesting...
I have already stated that I've never been able to replicate the issue in the first place and just went out on a whim on a line of code that'd fix the problem. I'll do some further testing to see if I can replicate it.

[2020-11-24 17:47] Charwten commented on #12
Alright. Sorry to bother you if this is just out of the blue for you but thank you nonetheless for the help :)

[2020-11-24 17:49] How-Bout-No commented on #12
No worries, it's fine. The last thing I want is game breaking bugs.

[2020-11-24 23:51] Keb911 commented on #12
I thought of something. Are @Warbringer12 and @Charwten on a server? I experienced the original issue on a friend's server, but only tested b0.4.1a on a single player world. I wonder if this only happens on a server?

[2020-11-25 01:48] Charwten commented on #12
@Keb911 Yeah! I play with some friends on a server and I had the same exact thing! I tried the b0.4.1a file on single player and it worked but didn't on multiplayer

[2020-11-25 01:53] How-Bout-No commented on #12
Ok that helps. So I assume they don't use the hotfixed jar on the server. I assumed since the crash was related just to the rendering it would only be a client-side fix but it seems to be more than that. I still can't reproduce the crash on my end and I'm unsure as to why, must be something with my dev environment.
Sorry for bugging ya but is one of you able to see if using the hotfixed jar on the

[2020-11-25 01:58] Charwten commented on #12
I'll be honest.. I do not know what you mean by hotfixed jar lmao! What do you mean?

[2020-11-25 02:12] How-Bout-No commented on #12
The jar in the zip from earlier with the crashing fix, that you used in singleplayer.

[2020-11-25 02:15] Charwten commented on #12
Oh yeah! Sorry about that! I tried it on the server and I had the same problem with the crash

[2020-11-25 08:14] proironik opened #13 "the great hunger crashed my game"
The game crashed whilst rendering entity in world
Error: software.bernie.geckolib3.geo.exception.GeoModelException: outvoted:geo/hunger.geo.json: Could not find model.
Exit Code: -1
this is what it says

[2020-11-25 15:02] How-Bout-No commented on #13
Can you post the full crash log?

[2020-11-25 16:14] proironik commented on #13
k 1 min

[2020-11-25 16:16] proironik commented on #13
[crash-2020-11-25_13.59.43-client.txt](https://github.com/How-Bout-No/Outvoted/files/5597896/crash-2020-11-25_13.59.43-client.txt)

[2020-11-25 16:16] proironik commented on #13
here

[2020-11-25 20:03] How-Bout-No commented on #13
Ok interesting. I was hoping the log gave a bit more information, but for some reason it seems as if the jar you have just doesn't have the model file for the Hunger, which it definitely should. If you try deleting both Geckolib and Outvoted and then redownload them do you still get an error?

[2020-11-25 21:01] How-Bout-No commented on #12
Ok it seems the method I use to check biomes for the texture variants just... doesn't work on a server? I don't know of any fixes as I've meddled with it for about a day and I think it might just be beyond my knowledge. I'll probably just subtract the Kraken variants for now, which isn't ideal at all but it's the quickest fix so the next release isn't too delayed.

[2020-11-26 02:41] proironik commented on #13
Aight ill do it

[2020-11-26 05:09] proironik commented on #13
should i download the latest update from forge or the kraken one from github

[2020-11-26 05:50] proironik commented on #13
now no mobs are spawning, but my game isnt crashing
if there are spawn eggs for the mobs, they are not appearing in my creative menu

[2020-11-26 15:47] How-Bout-No commented on #13
Did you make any changes to your config? Try deleting the config files and have it recreate them.
The latest version on Curse has the fixes from the GitHub so you only need to use that one.

[2020-11-26 16:33] proironik commented on #13
before i do that
i already have a mod that lets you apply infinity and mending on a bow,
so will it interfere with the great hunger

[2020-11-26 16:34] proironik commented on #13
and there are spawn eggs for the mobs so right

[2020-11-26 16:35] proironik commented on #13
and this is a forge mod right

[2020-11-26 16:57] How-Bout-No commented on #13
I haven't tested it but I don't think it should cause any issues.
Yes, there are spawn eggs for each mob.
And yes, this is for forge.

[2020-11-27 04:39] proironik commented on #13
should i download gecko lib 3.0 beta 8 or 3.0 beta 10

[2020-11-27 04:39] proironik commented on #13
rn i have downloaded beta 8

[2020-11-27 04:50] proironik commented on #13
omg yes it worked

[2020-11-27 04:56] proironik commented on #13
1 last thing, how to get higher level enchants using the great hunger

[2020-11-27 05:22] proironik commented on #13
and the spawn rate of the mobs is configurable right cause the spawn rate of the great hunger is very high

[2020-12-01 02:27] How-Bout-No commented on #13
Beta 10 should work fine, I've heard the full release of Geckolib 3 will be out soon.
Glad to know that fixed it!

[2020-12-01 02:27] #13 closed

[2020-12-02 17:39] judicius commented on #12
getting the same issue with Inferno Entity. Will attempt to turn off variants to see if CTD stops on the server

[2020-12-02 20:52] How-Bout-No commented on #12
Thank you for this! Looks like I might have to incorporate a different method for biome variants. I suspect it could be related to how the Inferno and Kraken variants are configurable, while the Hunger's is hardcoded, as I haven't had any crash reports related to Hunger rendering despite it having texture variants.

[2020-12-02 23:36] judicius commented on #12
heres a crashlog in case it sheds some light
https://pastebin.com/0fRrSwhY
and the CTD error is AL lib: (EE) alc_cleanup: 1 device not closed

[2020-12-06 07:23] shadow000x opened #16 "[BUG] Game crashes when enchanting an inferno helmet through anvil"
1- Put inferno helmet on anvil
2- Put enchantment book on the second anvil slot

 - Minecraft Version 1.16.3
 - Mod Version b0.4.3

[latest.log](https://github.com/How-Bout-No/Outvoted/files/5648424/latest.log)
[debug.log](https://github.com/How-Bout-No/Outvoted/files/5648425/debug.log)
[crash-2020-12-06_01.13.11-client.txt](https://github.com/How-Bout-No/Outvoted/files/5648426/crash-2020-12-06_01

[2020-12-06 18:57] #16 closed

[2020-12-06 21:47] How-Bout-No commented on #12
Sort of fixed in 32c7e7b. With the way I now do biome variants to prevent server crashes, that is checking the block it spawns on instead of the biome, the Kraken's variants won't work since it spawns in water but Inferno and Hunger will work with this method. For now, Kraken variants will still be disabled until I can find a better method. I'll close this issue for now, but that does not mean I w

[2020-12-06 21:47] #12 closed

[2020-12-19 14:38] SuperPawmaple opened #19 "[BUG] 2 Krakens will let u stuck and live forever if you have no range weapon underwater."
Version: Latest
Forge: Forge 35.1.10

What happened.
I was attacked by two krakens at the same time. They dragged me underwater and I lost my breathe. However, I couldn't die either, I was stuck in between. Couldnt kill them cause my weapons cant reach them either. It somehow become an eternal prison. I have attached a picture to illustrate. Not sure if thats fully a bug but to some extend its wei

[2020-12-19 17:58] How-Bout-No commented on #19
I've had other people also complain about this. I need to find some way to prevent this. I implemented a range for how far it will chase to try and mitigate it a little, but it's obvious that the issue still occurs.
I'm not sure how to go about doing it, I have several ideas but they may be very inefficient.

[2020-12-20 00:25] How-Bout-No commented on #19
The "not drowning" seemed to be a common issue regardless if whether or not the player was grabbed by multiple Krakens and that specific issue was solved in 219a26c, I just still need aw ay to prevent multiple Krakens from grabbing a player.

[2020-12-21 20:50] How-Bout-No commented on #19
Fixed in b5d75ce

[2020-12-21 20:50] #19 closed

[2021-01-08 05:07] 1-1037 opened #22 "[BUG] Game crashed after trying to spawn in a mob"
I was playing on Minecraft 1.15.2 with the mod version `outvoted-1.15.2-1.0.1-1.jar`.
The game suddenly freezes and crashes while I was playing, the error is as follows;
[code]
If needed, the full crash report can be seen here;
https://pastebin.com/GJCZiNCU

[2021-01-08 16:00] How-Bout-No commented on #22
Looks to be a similar issue to #13, I'm unsure what the actual fix was, as I recommended reinstalling the mod and geckolib, and then deleting the mod config. Not sure which one of those worked...

[2021-01-09 04:32] HiggsBonbon opened #23 "[BUG] Incompatibility with krakens and Extra Boats"
**Describe the bug**
When ensnared by Kraken, if the boat used is a boat with a chest, the inventory will fail to drop.

**To Reproduce**
Steps to reproduce the behavior:
1. Store items in an Extra Boats chest
2. Row boat near a kraken and become ensnared
3. The chest boat will enter the player's inventory but not drop any items that were stored

**Expected behavior**
The chest boat when broken no

[2021-01-09 06:24] How-Bout-No commented on #23
Thanks for reporting! Bug has been fixed in 2ef25cb, or v1.0.3 on Curse once the files are approved.

[2021-01-09 06:24] #23 closed

[2021-01-09 06:32] How-Bout-No commented on #23
* I labeled it as a crash even though it isn't because I am very high iq.

[2021-01-09 14:30] HiggsBonbon commented on #23
Nice work, I wasn't expecting a fix so quickly.

[2021-01-12 18:34] How-Bout-No commented on #22
Closing this as this isn't a problem with the mod itself.

[2021-01-12 18:34] #22 closed

[2021-01-19 00:37] David2753 opened #24 "[BUG] Inferno "look" direction does not match head."
Using F3+b to examine the inferno hitbox shows that the look direction of the inferno does not match its head.
Normal vanilla mobs usually have the blue indicator perpendicular to the front of their face but the inferno's look indicator is not synced to it's head.
Nothing game-breaking but when the inferno is on fire it looks kinda weird. It may be affecting other minor things but nothing that I'v

[2021-01-19 00:49] How-Bout-No commented on #24
Yea, I believe this problem occurs with all the mobs. I'd have to see if there's something I missed to have it line up, or if it's something with Geckolib (I don't have a personal reference for that).
I've seen the fire bug as well but I didn't know it was tied to that view. Odd.

[2021-01-23 19:10] How-Bout-No commented on #24
Looks like this was Geckolib's problem. Both the look direction and subsequently the fire on the Inferno work fine in Geckolib 3.0.2.

[2021-01-23 19:10] #24 closed

[2021-01-30 03:10] belathus opened #28 "[BUG] The Hunger causes a crash on a headless server"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[x] Run with Java 8

**Describe the bug**
I'm hosting a server. My server crashed; it looks like the Hunger creature is trying to do something client-side only on the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a headless server

**Expected behav

[2021-01-30 03:56] How-Bout-No commented on #28
Interesting, it seems in the logs there's a method that it isn't finding.
Does it work if you don't run headless?

[2021-01-30 06:27] Divineaspect commented on #28
we did just update Geckolib

[2021-01-30 17:03] How-Bout-No commented on #28
Should be fixed in 60364f4, will be v1.1.2 on Curse once the file is approved 😄

[2021-01-30 17:03] #28 closed

[2021-02-22 06:01] cakebaker77 opened #30 "When two Great Hunger's fight each other the game crashes[BUG]"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run with Java 8

**Describe the bug**
When you spawn in two Great Hungers they fight and when they do the game stops(crashes).

in 1.16.5

[2021-02-22 11:41] How-Bout-No commented on #30
Is this with the latest mod version (1.1.3)?

[2021-02-23 00:16] Corvus20 opened #31 "[BUG]"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[Done] Reset/delete config files
[Done] Run with Java 8

**Describe the bug**
When the Great Hunger tries to bite anything, the game crashes. Sheep, Pigs, you name it, it causes problems.

**To Reproduce**
Steps to reproduce the behavior:
1. Load this mod
2. Bait it into biting any mob
3. Game fre

[2021-02-23 02:49] How-Bout-No commented on #31
Might be related to #30 but I haven't gotten a chance to test it yet. This only occurs on mobs and not items correct?

[2021-02-23 03:27] #30 closed, assigned to How-Bout-No

[2021-02-23 03:28] #31 closed, assigned to How-Bout-No

[2021-02-23 03:28] How-Bout-No commented on #31
Should be fixed in 1.1.4

[2021-02-28 20:12] TelepathicGrunt opened #32 "[BUG] Outvoted causes all structures that spawns Blazes at generation to hang forever"
When using my mod Repurposed Structures with Outvoted, trying to go to a Nether City will cause the game to deadlock and hang forever.
https://www.curseforge.com/minecraft/mc-mods/repurposed-structures

Here's where the deadlocking occurs. func_213386_a is MobEntity.onInitialSpawn and func_180495_p is IBlockReader.getBlockState.
https://imgur.com/a/0L2K0El

From that and with help of another playe

[2021-02-28 21:22] How-Bout-No commented on #32
Thank you for the info! Once I get back to my PC I'll see what I can do. I guess I didn't really account for mob spawns as a part of the biome variant code 😅

[2021-03-01 01:47] How-Bout-No commented on #32
Yep, thanks for the quick pointer! Changing it to `worldIn` fixes the issue.
Pushing v1.1.5 now..

[2021-03-01 01:47] #32 closed, assigned to How-Bout-No

[2021-03-03 10:29] Lacunaethemoontraa opened #33 "Great hunger kills everything when out of render."
Ive been having an issue where things like farm animals and tamed mobs will be immediately killed by hunger mobs when chunks are unloaded and reloaded, or when the player moves beyond the entity render distance.

Example: I was on an AFK platform above a creeper farm, on the ground around the farm I caught a glimpse of mobs randomly being killed immediately after spawning on the dirt area surround

[2021-03-04 13:05] How-Bout-No commented on #33
Interesting. Wasn't aware that even unloaded it still did stuff.
By recently are you saying that it has only happened recently? Which version are you running now and which version didn't have this issue?

[2021-03-06 09:22] ghost opened #34 "Use new Forge Hook for Entity Attributes"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
- [x] Reset/delete config files
- [x] Run with Java 8

**Describe the bug**
just a improvement told by the output log

**To Reproduce**
Steps to reproduce the behavior:
1. Install mod
2. Look at the console output

**Expected behavior**
no warnings/errors

**Screenshots/Logs**
...
[HH:MM:SS] [Rend

[2021-03-06 21:24] How-Bout-No commented on #34
Idk if I'd categorize this as a 'bug', just seems like a newer Forge feature. Guess I can see if I can transfer to it.

[2021-03-07 18:35] How-Bout-No commented on #33
Haven't been able to replicate this on my end. Not sure the cause.

[2021-03-07 18:55] #34 closed, assigned to How-Bout-No

[2021-03-07 19:03] How-Bout-No commented on #33
I've pushed 1.1.6 with some modifications to Hunger spawn checking. Since I'm unable to replicate this bug, let me know if issue persists.

[2021-03-19 21:35] ricksouth opened #35 "Add EntityClassification.Monster to hostile mobs"
Hi! Someone opened an issue for my mod which disables hostile mob spawns around the campfire. It checks for the classification "EntityClassification.Monster" and if it exists, cancels the spawn. It seems "Hunger's" can still spawn.

Adding the classification should fix the problem. I haven't tested it myself, hope I don't make wrong assumptions. Thanks!

https://github.com/ricksouth/serilum-mc-mod

[2021-03-19 22:40] How-Bout-No commented on #35
The Hunger isn't classified as a Monster because it's not necessarily a hostile mob. It's abilities are useful to a point where it is allowed to spawn in Peaceful (which also disables its attacking), hence it not being labeled as a Monster. It does use Monster spawning rules, but I assume that has no affect in this scenario.
Not really sure how to go about this, and I've already stated why it's no

[2021-03-19 22:41] #33 closed, assigned to How-Bout-No

[2021-03-19 22:41] ricksouth commented on #35
I see. Do you think it should be blocked by an entity that disables hostile mob spawning? Or leave it as is?

[2021-04-02 19:59] How-Bout-No commented on #35
Sorry for very late reply. I've gone about this by just setting the Hunger as a Monster but just overriding it to not despawn in peaceful. This should fix this issue.

[2021-04-02 19:59] #35 closed, assigned to How-Bout-No

[2021-04-13 18:22] Abishark opened #36 "I would like you to add more features to the kraken"
I really don't like that the only thing the kraken does is drag you to the bottom of the sea waiting for you to drown, it gives you enough time to do it with a sword or if one has a potion of aquatic breathing, the kraken becomes totally harmless, I think it is the least flashy and useful mob.

I wish the kraken had more attacks, like biting you with its jaws or locking you in with these so you ca

[2021-04-13 19:12] How-Bout-No commented on #36
Well there's a couple things I'd like to note:
When grabbed by the Kraken, the player's oxygen decreases at a faster rate than if they were just diving under water. Also, having water breathing has no effect if you are grabbed by the Kraken. It will still deal damage and consume oxygen as if you didn't have the effect. The main status effect that has any affect on the Kraken is Dolphin's Grace, wh

[2021-04-14 14:36] ReeCodes opened #37 "Game crash with latest Geckolib (3.0.30)"
**Describe the bug**
Look at title

**To Reproduce**
Steps to reproduce the behavior:
Spawn a any mob by Outvoted

**Expected behavior**
Regular behaviour

**Screenshots/Logs**
https://pastebin.com/8TFzRp4L

**Version (please complete the following information):**
 - 1.16.5
 - 1.2.2

[2021-04-14 14:52] How-Bout-No commented on #37
Seems to be a crash thanks to the newest Geckolib version. It seems to work fine on Geckolibs prior to 3.0.30. I'll see if I can work on some fix, in the meantime I'd recommend downgrading.

[2021-04-14 14:57] #37 closed, assigned to How-Bout-No

[2021-04-17 23:03] pjlasl opened #38 "[BUG] Server Crashing rending Kraken"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run with Java 8

**Describe the bug**
The server is crashing trying to render the Kraken I believe...

**Screenshots/Logs**
https://paste.ee/p/fXSi4

**Version (please complete the following information):**
 - Minecraft Version 1.16.5
 - Mod Version 1.16.5.1.2.2

[2021-04-17 23:49] How-Bout-No commented on #38
Should already have been fixed in the latest version, 1.2.3. Please update to that.

[2021-04-17 23:49] #38 closed, assigned to How-Bout-No

[2021-04-25 22:38] The-Bernician-Lamb opened #39 "Add a dimension blacklist/ whitelist for mob spawns"
**Is your feature request related to a problem? Please describe.**
Recently I noticed that when trying out your mod when inside the Twilight Forest dimension that Krakens would spawn in extreme amounts whenever I was near a Twilight Lake biome. It got to the point where my game would start lagging quite severely because they would not stop spawning.

**Describe the solution you'd like**
Add a Dime

[2021-04-25 22:47] How-Bout-No commented on #39
This is an upcoming feature in 2.0.
This spawning issue is somewhat common only in modded biomes for whatever reason. I had the same issue reported with the Jellyfishing mod's biomes. I advised them to use In Control to control mob spawns for the time being, which may work in your use case as well. It is important to note that I will have a pre release of 2.0 out sometime soon, so I'd recommend tr

[2021-04-29 10:55] How-Bout-No commented on #39
The first 2.0 snapshot with this feature is out, so I'm closing this.

[2021-04-29 10:55] #39 closed, assigned to How-Bout-No

[2021-04-29 10:56] How-Bout-No commented on #36
This is in except for the villager and new tool stuff. Since I'm not sure if I'm going to implement the latter at this time, I'll close this.

[2021-04-29 10:56] #36 closed, assigned to How-Bout-No

[2021-05-02 20:09] The-Bernician-Lamb opened #41 "Krakens can spawn in pools of water at low altitudes regardless of biome"
**Describe the bug**
After having tested the latest Alpha version. I thought I would bring some bugs to your attention. This bug causes Krakens to spawn in any biome as long as the water it spawns in is at a low enough altitude. In vanilla this wouldn't really be a huge problem but with mods such as Yung's better caves which adds large water lakes that can generate deep underground in any biome, i

[2021-05-02 20:18] The-Bernician-Lamb opened #42 "Krakens don't render when looking at them through water on fast or fancy graphics settings."
**Describe the bug**
I've noticed that sometimes whenever I looked at Krakens in the water they would just dissapear but they would still make sounds, almost like they just went invisible, when I looked away they would reappear. After changing some graphics settings I noticed that they only seemed to render properly when my graphics settings were set to Fabulous and this bug would occur often when

[2021-05-03 01:35] How-Bout-No commented on #42
This might be a geckolib related issue

[2021-05-03 01:36] How-Bout-No commented on #41
I know biome spawns are not properly functioning in alpha, but this is weird. Does it only happen in the alpha cause it could just be the biome spawning itself

[2021-05-03 07:36] The-Bernician-Lamb commented on #41
Yeah, This only happens in the Alpha, The release version is fine.

[2021-05-03 07:56] The-Bernician-Lamb commented on #42
I'm not sure, because this only seems to happen in the Alpha version of this mod and not the release version. Still, I could report it to them if you think it'll help?

[2021-05-03 10:52] How-Bout-No commented on #42
Hm are you sure it's only in alpha? I know at least that the kraken can disappear from view when looked at certain angles in the water in the normal releases. I didn't change anything with entity rendering in 2.0 alpha other than adding in the meerkat. I'll see if there's something I need to change for it to work nicely.

[2021-05-03 10:55] How-Bout-No commented on #41
Yea then it sounds like a side effect of the broken spawning. Although technically this bug should still prop up when the biome spawns are working, since the actual spawn checks are the same.

[2021-05-03 10:58] The-Bernician-Lamb commented on #42
I'll give the release version another test to make sure.

[2021-05-03 11:30] The-Bernician-Lamb commented on #42
EDIT: Actually, It CAN occur in the release as well but it occurs much more frequently, almost constantly in the Alpha. In the release version it only seems to occur when they are in a tight space like a cave pool or lake, and even then it seems pretty infrequent, whereas in the Alpha it happens all the time.

In the release the behaviour of this bug is far more like what you described having seen

[2021-05-03 12:25] The-Bernician-Lamb commented on #42
^^Just though I'd let you know that I updated the comment above with more information in case you are interested or haven't seen it yet. ^^

[2021-05-03 12:44] How-Bout-No commented on #42
Thanks for the insight. This is pretty odd, since again nothing about the rendering has been changed between release + alpha. I peeked in the Geckolib discord and apparently it is a somewhat known issue with vanilla's rendering, and fabulous changes how the rendering works and thus why the bug is fixed. I think I have an idea to remedy the issue without requiring Fabulous graphics, so I'll see wha

[2021-05-04 14:13] How-Bout-No commented on #41
Biome spawning issues should be addressed in alpha.2

[2021-05-04 14:13] #41 closed, assigned to How-Bout-No

[2021-05-04 14:14] How-Bout-No commented on #42
It seems the fix I thought would work didn't :/
I'll look into it a bit further, but it's not looking like there's a whole lot I can do here.

[2021-05-04 14:57] The-Bernician-Lamb opened #43 "Game Crashes on Startup with latest Alpha"
**Describe the bug**
Game crashes on start up when attempting to use the latest alpha version. (Alpha 2)

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to start up the game with Outvoted Alpha 2 installed
2. Wait
3. Game crashes and produces the error message seen in the screenshot

**Expected behavior**
The game would start.

**Screenshots/Logs**
Latest Log: https://gist.github.com

[2021-05-04 14:58] How-Bout-No commented on #43
Yea this was caught pretty quickly and the file was taken down. Weird that there is no crash log, that's gonna complicate things.

[2021-05-04 15:00] How-Bout-No commented on #43
Oh wait what? I just looked into ur latest log. Why is the Blaze mixin throwing errors? That isn't what I was expecting.

[2021-05-04 16:17] How-Bout-No commented on #43
This bug is actually in part due to architectury, but I am still to blame for failing to test out of dev. Will need to wait for a fix before this can be re-released.

[2021-05-04 16:37] How-Bout-No commented on #43
Fixed in Forge reupload, Fabric will be corrected later

[2021-05-04 16:37] #43 closed, assigned to How-Bout-No

[2021-05-04 21:00] jahirtrap opened #44 "Crash with Netherite Plus Mod."
**Describe the bug**
The game crashes when using mods:
- Outvoted
- [Netherite Plus mod](https://www.curseforge.com/minecraft/mc-mods/netherite-plus-mod/files/3273335)

**To Reproduce**
 - Use only Netherite plus and Outvoted mods with their respective dependencies

**Version**
 - Minecraft Version [1.16.5]
 - Mod Version [2.0.0-alpha.2-forge]

**Log**
 - [latest.log](https://github.com/How-Bout-N

[2021-05-04 21:19] How-Bout-No commented on #44
Yea, I don't know whether the issue lies in my implementation or Oro's implementation. It doesn't crash with alpha.1 because shields didn't work properly in alpha.1, and were fixed in alpha.2, but clearly this is causing issues.
I'm gonna go on the safe side and say my implementation is the problem.

[2021-05-05 19:13] How-Bout-No commented on #42
Nevermind I think? It seems like the commit I made (66fbf15f7a65b3cecc9532eaf6a89d972ec8b30d) actually did fix the issue but in testing in didn't. This commit should be included in alpha.2.

[2021-05-05 19:13] #42 closed, assigned to How-Bout-No

[2021-05-06 01:06] celsiusqc commented on #44
https://gist.github.com/celsiusqc/d581b901790192e17b3144e5b595c3c6

Same issue here

[2021-05-06 01:56] #44 closed

[2021-05-06 01:56] How-Bout-No commented on #44
Will be fixed in alpha.3

[2021-05-16 06:22] BugmanBugman opened #45 "[BUG] Outvoted crashes with Fastsuite, fastworkbench without replacement, while opening up a crafting table on dedicated server"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[x ] Reset/delete config files
[x ] Run with Java 8

**Describe the bug**
title

**To Reproduce**
Steps to reproduce the behavior:
1.start up dedic server
2. join it
3. craft something or open up a table
4. crash

**Expected behavior**
to craft stuff

**Screenshots/Logs**
[crash-2021-05-16_01.15.4

[2021-05-16 12:19] How-Bout-No commented on #45
Fastsuite seems to be checking for client-only methods on the server? Seems like a simple fix though.

[2021-05-16 23:45] BugmanBugman commented on #45
Ah ok, should i report it to fastsuite then?

[2021-05-16 23:49] How-Bout-No commented on #45
Probably not, I can correct it on my end by just removing a line so it doesn't only run on the client. Fastsuite may be doing that for a reason, but that reason is unknown to me.

[2021-05-17 00:10] #45 closed, assigned to How-Bout-No

[2021-05-17 00:11] How-Bout-No commented on #45
Will be publicly fixed in alpha 4, idk if you are able to avoid using Fastsuite until then.

[2021-05-20 22:20] BugmanBugman opened #46 "Add biomedict for mob spawning"
**Is your feature request related to a problem? Please describe.**
Sadly mobs don't spawn in modded biomes

**Describe the solution you'd like**
Making them spawn using biome dictionary, so we could get them in all the best biomes

[2021-05-20 23:12] How-Bout-No commented on #46
Does adding the biome to the config do nothing?
i.e. `modid:biomename`?

[2021-05-20 23:18] BugmanBugman commented on #46
I tested it on one and it works, but it would be a bit tedious for mods like BYG and BOP which have a lot of biomes, and having to add each one manually

[2021-05-20 23:20] How-Bout-No commented on #46
Ah I see. I'll see if I can get something like that working with the current setup.

[2021-05-24 10:38] Blunder-G opened #47 "Startup Crash with Fabric Version"
Startup Crash. That's it!

How can you crash your game? (TUTORIAL)
Steps to reproduce the crash:
1. Go to Minecraft
2. Click on Play
3. Wait...
4. Crash!

Thank you for watching!

Expected behavior:
Client Crash...

Screenshots/Logs:
Crash Report:
[crash-2021-05-24_13.31.04-client.txt](https://github.com/How-Bout-No/Outvoted/files/6531694/crash-2021-05-24_13.31.04-client.txt)

Version:
 - Minecraf

[2021-05-24 10:43] How-Bout-No commented on #47
Well I don't get this on my end, and this crash report isn't giving me any pointers. Are you running a curse modpack? If so which one.

[2021-05-26 22:50] How-Bout-No commented on #46
Essentially added into alpha 5. Use something like `#desert` to apply to all biomes categorized as a desert.

[2021-05-26 22:50] #46 closed, assigned to How-Bout-No

[2021-05-27 14:59] Blunder-G commented on #47
No, i use my own pack. I don't know the reason for this crash. However, I would like to help you. What can i do?

[2021-05-27 15:12] How-Bout-No commented on #47
Do you think you can send latest.log and/or debug.log so I can see what's going on before crash

[2021-05-27 18:03] Blunder-G commented on #47
I'm searching the mod that incompatible with Outvoted, i will find and send you ASAP :)

I foud it: xp storage mod, it's incompatible but why?

[2021-05-27 18:15] #47 closed, assigned to How-Bout-No

[2021-05-27 18:17] Blunder-G opened #48 "Crash upon start with "Xp Storage""
Startup Crash with "xp storage"

Mod link: https://www.curseforge.com/minecraft/mc-mods/xp-storage

[2021-05-27 18:20] How-Bout-No commented on #48
I see, interesting. I have no idea why this would be crashing, and the report seems to indicate it's XP Storage that is causing the crash. Odd. I'll see if there's anything I can do at my end.

[2021-05-27 18:51] charlyb01 commented on #48
Can I see the crash report?
[EDIT] Btw, where is the source of the fabric version of your mod? Or does this code work also for Fabric?

[2021-05-27 19:09] How-Bout-No commented on #48
Crash report is here
[crash-2021-05-27_14.31.09-client.txt](https://github.com/How-Bout-No/Outvoted/files/6556219/crash-2021-05-27_14.31.09-client.txt)

Fabric code is [here](https://github.com/How-Bout-No/Outvoted/tree/architectury-dev/common/src/main/java/io/github/how_bout_no/outvoted) and [here](https://github.com/How-Bout-No/Outvoted/tree/architectury-dev/fabric/src/main/java/io/github/how_bo

[2021-05-27 19:22] charlyb01 commented on #48
Alright, thanks! I guess you can close this issue, as you said it's not related to your mod at all. I don't know yet what is going wrong while it was okay for 50k downloads before, maybe an API change. I'll let you know when it's fixed, thanks for the report =)

[2021-05-27 19:32] Blunder-G opened #49 "Crash Upon Startup with Terrarian Slimes"
Startup Crash

Crash Report:
[crash-2021-05-27_22.28.48-client.txt](https://github.com/How-Bout-No/Outvoted/files/6556356/crash-2021-05-27_22.28.48-client.txt)

[2021-05-27 19:35] How-Bout-No commented on #48
Sounds good. If there happens to be anything I need to do just lmk.

[2021-05-27 19:35] #48 closed, assigned to How-Bout-No

[2021-05-27 19:40] How-Bout-No commented on #49
I can't seem to replicate this crash on my end? Running outvoted with terrarian slimes yields no crash.

[2021-05-27 19:43] Blunder-G commented on #49
What? I guess I got paranoid after "xp storage" Sorry :l

[2021-05-27 19:43] #49 closed, assigned to How-Bout-No

[2021-05-29 19:40] Corvus20 opened #50 "[BUG] Palm Sapling and Baobab Sapling both render incorrectly when placed"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[Done] Reset/delete config files
[Done] Run with Java 8

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place down saplings
2. See the rendering (texture) errors

**Expected behavior**
The saplings should not be a tran

[2021-05-29 19:48] How-Bout-No commented on #50
That's uh, weird. This might be another case where I didn't set the rendering in forge (that or I just recently broke it because I know I had it fine before)

[2021-05-30 23:00] itsNordLord opened #51 "[BUG] Fabric crash with Bewitchment"
**Versions / Loaded Mods**:
`architectury-1.15.13-fabric`
`bewitchment-1.16.5-15` BEWITCHMENT
`cloth-config-4.11.26-fabric`
`fabric-api-0.34.2+1.16`
`geckolib-fabric-1.16.5-3.0.34`
`Impersonate-2.2.1`
`outvoted-2.0.0-alpha.5-fabric` OUTVOTED
`Patchouli-1.16.4-51-FABRIC`
`Pehkui-2.2.0+21w20a`
`somnus-fabric-0.0.11-1.16.5`
`trinkets-2.6.7`

**Logs**:
[latest.log](https://github.com/How-Bout-No/Outvo

[2021-05-30 23:21] How-Bout-No commented on #51
Yea I'd love to test this on my end but can't download any other mods lol.
Looks to be a similar error as #49 where the Wildfire isn't properly registered? I wasn't able to replicate the problem in that issue. Is this a persistent crash?

[2021-05-30 23:33] itsNordLord commented on #51
Yeah both crashlogs look pretty similar in whole

It is persistent, crashes 100% of the time while launching. This was tested with a completely clean instance of Fabric 0.11.3 so the configs are fresh and everything. It was replicated on a couple of used instances on different launchers as well before I decided to make a blank slate.

[2021-05-31 00:04] How-Bout-No commented on #51
Alright once Curse fixes their apocalypse I'll see if I can narrow down the issue here.

[2021-05-31 10:16] Blunder-G opened #52 "Crash Upon Start with Charm/Charmonium"
[crash-2021-05-31_13.08.45-client.txt](https://github.com/How-Bout-No/Outvoted/files/6569548/crash-2021-05-31_13.08.45-client.txt)

Strange...

[2021-05-31 12:24] How-Bout-No commented on #52
I'm curious how you're running into crashes since I can't replicate it. If this is the modpack you've made can you export it and upload it here so it's easier for me to replicate your setup?

[2021-05-31 19:50] How-Bout-No commented on #50
Seems to be the data gen isn't properly creating the jsons for the saplings. I'll just have to do them manually, will be fixed in alpha 6.

[2021-06-04 11:27] How-Bout-No commented on #51
Forgot to close, should be fixed in alpha 6

[2021-06-04 11:27] #51 closed, assigned to How-Bout-No

[2021-06-04 11:27] How-Bout-No commented on #52
This kind of crash in general should be fixed in alpha 6

[2021-06-04 11:27] #52 closed, assigned to How-Bout-No

[2021-06-04 11:28] How-Bout-No commented on #50
Fixed in alpha 6

[2021-06-04 11:28] #50 closed, assigned to How-Bout-No

[2021-06-17 12:36] Blunder-G opened #53 "[FORGE] Quark Compat for Palm and Baobab Woods (And much more)"
I like the wood type specific features that Quark adds. Like Crimson Bookshelves and Crimson Chests. The Biome mods I use also support these features (Biomes O'Plenty, Enviromental etc.) but the wood types that Outvoted adds do not support these features.

Problem is split into two:

- Added trees do not have special textures, and doors and trapdoors do not have special appearances.
- Trees don't

[2021-06-17 14:07] How-Bout-No commented on #53
Currently both wood types are basic and were just tossed in alongside the trees so the trees wouldn't be entirely useless. There are already plans to give both types of wood their unique textures instead of just being copies of acacia and jungle wood. I'd have to see how to implement Quark compatibility to see if I change my stance.

[2021-06-17 15:43] Blunder-G commented on #53
I'm already wondering what they'll look like. Have a nice day!

[2021-06-18 01:05] StormCircuit opened #54 "Add a config flag/option to disable stealing of equipped enchantments."
**Is your feature request related to a problem? Please describe.**
I would like to disable hungers from taking enchants when they attack

**Describe the solution you'd like**
A config option to disable explicitly just their ability to 'steal' enchantments from equipped stuff.

**Describe alternatives you've considered**
Not spawning the hunger. Seems kind of lame. Looked through config files and i

[2021-06-18 04:22] How-Bout-No commented on #54
Huh I'm surprised I didn't think of this. Will be added for alpha 8

[2021-06-27 06:29] LeonaFlair opened #55 "Over-enchanting with More Power"
**Is your feature request related to a problem? Please describe.**
I'm always searching for a new way to do things, and I've always had a real soft spot for making cool, legendarily enchanted items.

**Describe the solution you'd like**
Throw a nether star into the maw of the Hunger along with two overenchanted items to allow for the creation of even higher overenchantments.

**Describe alternativ

[2021-06-29 20:59] How-Bout-No commented on #55
This kind of steps too far outside the vanilla+ aspect of the mod. Overenchanting has its limitations because getting crazy high overpowered items would be too much for a vanilla-esque playstyle. Sure, it may be cool to get Sharpness X, but it doesn't really fit.

[2021-07-08 01:22] #54 closed, assigned to How-Bout-No

[2021-07-13 13:45] VallenFrostweaver opened #56 "Crash on Kraken visual range"
**Describe the bug**
Crash on approaching a Kraken.

- Minecraft Version 1.16.5
- Outvoted 1.2.1
- Forge 36.1.2

**Additional context**
Multiple other mods are installed. I cannot determine the source of the crash. If this is not the mod causing the crash, I would appreciate any knowleddge you can share as to what one may be causing the issue. I am more than happy to supply other info if it would

[2021-07-13 14:34] How-Bout-No commented on #56
The latest non alpha of Outvoted is 1.2.4. Can you try using that and see if it still crashes?

[2021-07-13 18:18] VallenFrostweaver commented on #56
Strange that the launcher I was using did not report that mod as having an update available.  Sorry, I usually update everything before reporting. I have now updated to 1.2.4 and it no longer persists. Thank you.

[2021-07-13 18:18] #56 closed, assigned to How-Bout-No

[2021-07-13 18:32] StellaBiscuit opened #57 "[BUG - Fabric - 1.17] - Loot Table for blocks is missing"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run with Java 8

**Describe the bug**
The Loot Table of EVERY SINGLE block is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Open the mod itself with WinRar or a similar app
2. Go to "data/outvoted/loot_tables"
3. See that there is no "block" folder

[2021-07-13 18:39] How-Bout-No commented on #57
Man how much stuff changed from 1.16 to 1.17 😩
I'll see if there's something it wants me to add or if I need to do something different with the jsons.

[2021-07-13 22:05] StellaBiscuit commented on #57
Hum... the folder with the loot tables for the blocks is straight up inexistant... that is the problem, the blocks don't even have a drop in the first place

[2021-07-21 15:43] How-Bout-No commented on #57
I assume I botched something in Architectury, as Forge 1.17 isn't out yet so this upgrade was a shot in the dark. Will be fixed.

[2021-07-21 17:59] How-Bout-No commented on #57
Should be fixed in alpha 9

[2021-07-21 17:59] #57 closed, assigned to How-Bout-No

[2021-07-29 13:06] Myle21 opened #58 "outvoted 1.17.1 isn't downloading"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run with Java 8

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descript

[2021-07-29 22:42] dandin87 opened #59 "[BUG][FABRIC] NullPointerException: Cannot read field "wildfireVariants" because "~Outvoted.clientConfig" is null"
**Describe the bug**
A clear and concise description of what the bug is.
java.lang.NullPointerException: Cannot read field "wildfireVariants" because "io.github.how_bout_no.outvoted.Outvoted.clientConfig" is null

**Screenshots/Logs**
If applicable, add screenshots to help explain your problem, or logs from Pastebin or similar.
AllOfFabric 4 0.0.8, TeamAOF Public Server
Yarn Mapped Crash Report
ht

[2021-07-29 23:49] How-Bout-No commented on #58
You uh... didn't fill out the issue template. I have no information on the issue.

[2021-07-29 23:50] How-Bout-No commented on #59
Hm I guess some client call is happening where it should not be. Will be fixed.

[2021-07-30 00:55] dandin87 commented on #59
Might be related to this similar crash, which Crafty Crashers( https://github.com/Chocohead/Crafty-Crashes managed ) to identify this time.
java.lang.reflect.UndeclaredThrowableException
	at jdk.proxy3/jdk.proxy3.$Proxy93.hurt(Unknown Source)
	at net.minecraft.entity.player.PlayerEntity.handler$zdc001$hurt(dev/architectury/mixin/fabric/PlayerAttackInvoker.java [architectury.mixins.json]:37)
	Cause

[2021-08-01 03:14] Tyropop opened #60 "[BUG, FABRIC 1.17.1, 2.0.0-alpha.9]"
https://pastebin.com/EE0kG88K

this happens a soon as i open the game

[2021-08-01 13:11] #58 closed, assigned to How-Bout-No

[2021-08-01 13:18] How-Bout-No commented on #60
I can't replicate this issue, but some surface investigation leads me to believe that one of the mods, Cardinal Components, seems to be outdated. Whether it's bundled with some other mod or not, could you try installing this version and let me know if the issue persists? https://www.curseforge.com/minecraft/mc-mods/cardinal-components/files/3397538

[2021-08-01 16:17] How-Bout-No commented on #59
This should be fixed in Alpha 10.

[2021-08-01 16:17] #59 closed, assigned to How-Bout-No

[2021-08-02 21:14] llndqvst opened #61 "[BUG][Fabric/1.17.1][Server] Configs of unrelated mods in Outvoted folder"
**Describe the bug**
Running outvoted on a server causes some configs for other mods to be duplicated inside config/outvoted/.

**To Reproduce**
Steps to reproduce the behavior:
1. Run fabric-server with outvoted installed.

**Expected behavior**
Outvoted should only create its own configs inside config/outvoted.

**Screenshots/Logs**
[code]

**Version (please complete the following information):*

[2021-08-02 21:18] How-Bout-No commented on #61
Oh that's weird. Does it break any of the other configs or is it just a duplicate?

[2021-08-02 21:51] llndqvst commented on #61
From what I can see all the configs are created correctly, just in the wrong directory.

The main problem it's causing for me is the need to find what mods configs end up in outvoted, and edit the file there instead of in the config/ dir. In the context of creating a modpack or maintaining a server this is quite annoying.

I think I have found what causes the issue: https://github.com/How-Bout-No/

[2021-08-02 22:06] How-Bout-No commented on #61
I certainly overlooked my mixin implementation, since in dev of course I don't have other mods loaded. The original point was to achieve a similar folder structure on the server as the client without the client config present as cloth config didn't allow me to do that. I was considering just removing `MixinUtils` and rename the config files but that would require each user to do extra steps. So I

[2021-08-02 22:18] llndqvst commented on #61
Submitted for `arch-1.17` since that's the one I've actually tested :sweat_smile:

[2021-08-02 22:27] How-Bout-No commented on #61
No problem, I'll mirror the fix to the lower versions. Fix will be included in alpha 11 for 1.17.

[2021-08-02 22:33] llndqvst commented on #61
Great! Also I have to say that I agree with you that this fix isn’t the prettiest and that the intended old behavior probably should be targeted.

[2021-08-04 22:40] How-Bout-No commented on #61
Implemented in Forge alpha 10 and Fabric alpha 11

[2021-08-04 22:40] #61 closed, assigned to How-Bout-No

[2021-08-04 22:41] How-Bout-No commented on #60
Closing as above solution should fix the problem. Reopen if otherwise.

[2021-08-04 22:41] #60 closed, assigned to How-Bout-No

[2021-08-04 22:45] How-Bout-No commented on #55
Due to my philosophy on giving users freedom of choice, this is sort of put in place now with the `capEnchants` option in the config, which disables the overenchant cap of 1 above max level. Do note that this method would be *very* tedious to get extremely high enchants as it still follows normal rules (i.e. you can't have multiple of the same enchantment stored, so you will have to constantly use

[2021-08-04 22:45] #55 closed, assigned to How-Bout-No

[2021-08-05 20:55] Ahdie1 opened #63 "[BUG] Kraken/Monster of the Ocean Depths (Visual Glitch) [Fabric 1.17.1]"
When out of the water or in the water looking away from the kraken, when the kraken is just on the edge of the end of the screen, it will disappear then reappear when at least half of its body is in view again. Hard to explain but only happens with the MOTOD, might want to go in game to see this in action.

[2021-08-05 22:16] Ahdie1 commented on #63
![2021-08-05_18 15 17](https://user-images.githubusercontent.com/88512999/128428326-f3e36f5e-6331-4faa-b8a3-591a0805c1cc.png)

[2021-08-05 22:17] Ahdie1 commented on #63
^^^^ When looking about here, in this position and slowly moving your view around, you will notice the Barnacle/MOTOD pop in and out visually.

[2021-08-05 22:30] How-Bout-No commented on #63
I suspect this might happen because of the Barnacle's hitbox compared to its size (it's hitbox only surrounds its head and not its tentacles) so when the hitbox is off screen the game believes that the mob is no longer in the player's view. If that is the case, then there isn't much I can do since I can't expand its hitbox as the Barnacle's movements are too complex to get a hitbox that makes sens

[2021-08-12 06:27] Seegras opened #64 "[BUG] Mob noises audible with no volume dropoff on distance"
Mob noises are audible from quite far away at maximum volume. Which makes it impossible to detect where exactly they are, and also an extreme nuisance, especially with meerkats.

**Version (please complete the following information):**
 - Minecraft Version [1.17.1]
 - Mod Version [2.0.0-alpha.9-fabric]

[2021-08-12 13:29] YTSeanPlays opened #65 "Minecraft Game crashes while using All of Fabric 4 modpack. It seems to be caused by "Barnacles" in outvoted."
Sometimes whilst i'm in a cave, i freeze and crash. When I look at the crash logs -

---- Minecraft Crash Report ----
// Don't do that.

Time: 8/12/21, 1:58 PM
Description: Rendering entity in world

java.lang.NullPointerException: Cannot invoke "net.minecraft.class_1297.method_19538()" because "â˜ƒ" is null
	at net.minecraft.class_1297.method_5858(class_1297.java:1426)
	at io.github.how_bout_no.o

[2021-08-12 14:04] How-Bout-No commented on #65
I got a report with the same crash in my discord. It's a very weird error and I currently have no idea what causes it.

[2021-08-13 15:05] How-Bout-No commented on #65
I've put in a simple test fix in the latest alphas but since I was never able to replicate the bug I'm not sure if it'll work as intended. I'd recommend upgrading the mod manually.

[2021-08-13 15:06] #65 closed, assigned to nobody

[2021-08-13 15:06] How-Bout-No commented on #64
I have tweaked all of the sounds to have a more consistent volume in the latest alphas.

[2021-08-13 15:06] #64 closed, assigned to How-Bout-No

[2021-08-17 23:54] Flyvee opened #67 "Sometimes when barnacles spawn, minecraft crashes[BUG]"
**Describe the bug**
So far in the last 2 weeks, my minecraft has crashed 4 times with this error, and it happens when barnacles are trying to spawn, as when the error has occurred, there hasn't yet been any barnacles on the xaero minimap.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a populated deep normal ocean.
2. Kill any barnacles that spawn.
3. Eventually one that spawns will

[2021-08-18 01:42] itsdinkd opened #68 "[BUG] Ridicuously high Meerkat Spawnrate"
Latest version of mod
1.17.1mc
fabric

![image](https://user-images.githubusercontent.com/35115304/129823024-efdb5c15-997e-435f-9395-847abbd74061.png)

![image](https://user-images.githubusercontent.com/35115304/129823058-43f7346b-b166-420d-abd0-0eb37399549a.png)

341 meerkats spawned for just me. way past mobcap per player (only 2 people including myself on server, other person is nowhere near me

[2021-08-18 08:53] Flyvee commented on #67
Another crash report after only logging in for 2 minutes:
---- Minecraft Crash Report ----
// Surprise! Haha. Well, this is awkward.

Time: 2021/08/18, 10:50
Description: Rendering entity in world

java.lang.NullPointerException: Cannot invoke "net.minecraft.class_1297.method_19538()" because "â˜ƒ" is null
	at net.minecraft.class_1297.method_5858(class_1297.java:1426)
	at io.github.how_bout_no.out

[2021-08-18 12:14] How-Bout-No commented on #67
Duplicate of #65 (kinda). Can you try using alpha 12 for fabric? I've implemented a rudimentary fix for this odd bug but considering I never got this issue I'm not 100% sure it works.

[2021-08-18 12:15] How-Bout-No commented on #68
Yikes that's obviously not right. What is the spawn rate (or I guess burrow gen rate) you have in config? Is it the default?

[2021-08-18 16:48] itsdinkd commented on #68
Burrow rate was at 50 which had incredibly high spawns so I changed the
burrow rate to 40 and thats when I took the screenshot and reported this.
Both values have incredibly high spawns

On Wed, Aug 18, 2021, 5:15 AM Noah ***@***.***> wrote:

[2021-08-19 07:28] Ahdie1 opened #69 "[BUG] Wildfire takes falling damage"
That's it, it takes damage when slowly floating down, unless the blaze which does not. Unless this was intentional.

[2021-08-19 13:53] Raavea commented on #68
Oh I also have this issue!

I don't _entirely_ mind how many there are - my issue is that they're so **LOUD**.

Does anyone have a spawn setting that definitely fixes the overpop? I've not changed it at all yet, everything is at the defaults (well, I'm running All of Fabric 4 so there's a small chance that modpack alters the defaults to its own set of defaults, idk).

(Also, is it possible to alte

[2021-08-19 14:42] How-Bout-No commented on #68
I adjusted the volume of all the mobs in the latest alpha builds as most of the mobs were very loud (in my testing I obv only test the mod mobs so I didn't catch any volume issues for a while).
Other than volume, I believe I may have worked out a way for the entity cap issues but it will need some tweaking since if I align the Meerkat spawn cap to the Creature cap then rabbits will immediately use

[2021-08-19 22:03] How-Bout-No commented on #69
Oh that's... weird. Just like a lone of code or 2 was missing. Easy fix.

[2021-08-19 23:11] Muffintiem commented on #67
Bug still exists in Alpha 12.

I went through my mod list and these are the ones we both have in common:
architectury: Architectury 2.0.9
bclib: BCLib 0.3.1
betterend: Better End 0.11.0-pre
betternether: Better Nether 5.1.3
cardinal-components-base: Cardinal Components API (base) 3.1.1
cardinal-components-entity: Cardinal Components API (entities) 3.1.1
cloth-basic-math: Cloth Basic Math 0.5.1
clo

[2021-08-19 23:13] How-Bout-No commented on #67
Hm. Do you mind sending the crash log from alpha 12 so I can see if it's any different? (preferably upload it to pastebin and link it here so its easier for me to read 😁)

[2021-08-20 00:52] Muffintiem commented on #67
https://pastebin.com/pjtFfTat

[2021-08-20 16:10] How-Bout-No commented on #67
Thank you. Seems to be the same bug but from a different class, which is odd. I'll try a different attempt at eliminating this crash.

[2021-08-20 16:21] How-Bout-No commented on #69
The code for handling fall damage is already in the Wildfire (which I already assumed, especially since I used the Blaze code as a template) and testing shows that it works fine as it always has. How did you manage to get the Wildfire to take fall damage?

[2021-08-20 18:51] j4p4n4s4 commented on #67
Same error in forge...

1.16.5 Optifine Forge

[crash-2021-08-20_20.46.01-client.txt](https://github.com/How-Bout-No/Outvoted/files/7023559/crash-2021-08-20_20.46.01-client.txt)

[2021-08-20 19:07] How-Bout-No commented on #67
Thank you. Ideally, the commit I made should actually remedy the problem once its publicized. Until then, disabling Barnacle spawns is probably necessary depending on how often it crashes.

[2021-08-20 19:07] #63 closed, assigned to How-Bout-No

[2021-08-21 06:09] Raavea commented on #68
Ah I totally understand - when I was making music for my BA, mine were always way quieter than everyone elses because I worked against my own usual volume levels.

For the time being I've just switched them from the 40:1 to 80:1 in the settings and it seems pretty good at that setting; however, I've not travelled to any new deserts lately.

Like I said, I don't really mind there being lots of them

[2021-08-21 06:55] itsdinkd commented on #68
I can't say the same. 340 meerkats is way too much for the modpack
especially when the creature cap is 10 per player and only 2 players are
on.

Thanks for looking into it

On Fri, Aug 20, 2021, 11:09 PM Raavea ***@***.***> wrote:

[2021-08-21 22:06] itsdinkd opened #70 "[BUG] Crashing 1.17.1 Fabric on launch"
---- Minecraft Crash Report ----
// My bad.

Time: 8/21/21, 3:03 PM
Description: Initializing game

java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'outvoted'!
	at net.fabricmc.loader.entrypoint.minecraft.hooks.EntrypointUtils.invoke0(EntrypointUtils.java:50)
	at net.fabricmc.loader.entrypoint.minecraft.hooks.EntrypointUtils.invoke(EntrypointUtils.j

[2021-08-21 23:12] How-Bout-No commented on #70
Huh this is weird. From what I can read it cant decipher why it's crashing. Do you think you could upload the log file as well?
It will take me a few days before I have a chance to take a look at it in dev.

[2021-08-22 01:29] itsdinkd commented on #70
The error randomly went away... lol.. not getting this anymore.

[2021-08-22 16:10] itsdinkd commented on #70
Just kidding it is doing it again.
here is latest.log

https://pastebin.com/Giqt2ugZ

[2021-08-22 17:24] How-Bout-No commented on #70
Hm. I wanna say it looks like torcherino isn't playing nice. Do you still get a crash without it?

[2021-08-23 21:31] itsdinkd commented on #70
I think it was due to have Sodium and IRIS installed at the same time. I forgot Iris included sodium already. (I've been trying to debug over 7 different bugs) but I'm pretty sure this was the solution found for this one.

[2021-08-24 13:40] KbolX opened #71 "Inferno helm missing texture"
When having the inferno helm equipped on the player, there is a blank pink box in place of its texture.
Is this a known issue with this mod, or could it be the biproduct of another mod?

[2021-08-24 16:43] Brun333rp opened #72 "[BUG] Palm and Baobab woodsets use the same textures of Jungle and Acacia woodsets (respectively)"
**Describe the bug**
Despite they being considered as different woodsets, they have the exactly same textures as the Jungle and Acacia woodsets. I don't think that's how it's supposed to be, and if adding new wood types is a problem then they should just use already existing woodsets then.

**Version:**
 - Minecraft Version [1.16.5]
 - Mod Version [2.0.0-alpha.8]

**Screenshots**

![2021-08-24_13

[2021-08-24 16:54] How-Bout-No commented on #71
It's a dependency bug from Geckolib. Nothing I can do to fix it atm.

[2021-08-24 16:54] #71 closed, assigned to How-Bout-No

[2021-08-24 21:56] How-Bout-No commented on #72
Yea, this is just placeholder that's been in longer than I'd have liked. Only the logs have different textures since that was something that had to be changed.

[2021-08-24 21:56] How-Bout-No commented on #70
Oh ok. If that's the case then I'll close this issue but if it crashes again reopen.

[2021-08-24 21:56] #70 closed, assigned to How-Bout-No

[2021-08-24 21:56] How-Bout-No commented on #69
Closing as this shouldn't be an issue.

[2021-08-24 21:56] #69 closed, assigned to How-Bout-No

[2021-08-26 01:20] Muffintiem commented on #72
For me the woods don't even drop.

[2021-08-26 01:28] How-Bout-No commented on #72
This was already fixed in later alphas.

[2021-08-27 05:28] 1-1037 opened #73 "[BUG] Palm and Baobab tree bugs"
For both the trees when you break the leaves in survival, with any tool (including fist) you get the leaves back instead of saplings.

Baobab saplings won't produce a tree, even with bone meal.

Minecraft Version 1.17.1
Mod Version v2.0.0-alpha.12
Fabric Version 0.11.6

[2021-08-27 06:12] 1-1037 commented on #73
I also forgot to add, there are no "generic" crafting recipes for either wood. (can't craft sticks, chests, crafting tables, etc.)

[2021-08-27 08:24] Protozoare opened #74 "Compatibility with mods that change worldgen and biomes"
I am playing with outvoted and all the biomes you'll go (improves existing biomes) also oh the biomes you'll go (adds new biomes.) The mobs added by the outvoted mod do not spawn naturally in the world, not even on regular biomes (because atbg changes regular biomes). I made a deep ocean only world, yet i failed to find a kraken with 100 spawn rate in config.

[2021-08-27 11:52] How-Bout-No commented on #73
Huh... the leaves drop table should be about the same as vanilla (as I used vanilla methods to create it) but perhaps I glossed over something. Same with the other recipes not working.
Baobab saplings need to be in a 4x4 arrangement due to their sheer size. A single sapling or 2x2 won't work.

[2021-08-27 11:57] How-Bout-No commented on #74
Biome compatibility will be up to the user. Since it would take forever for me to add compatibility with each possible worldgen mod. You can go into the config for each mobs spawn biomes and either set biome tags (such as `#desert` to spawn in everything tagged as a desert) or if you want to spawn in specific OTBYG biomes I believe you can specify it like `byg:whateverbiome` but not too sure on th

[2021-08-27 11:59] How-Bout-No commented on #74
This is why only Gluttons are spawning as they (except or Ostriches) are the only mobs using biome tags by default. You can peek into the config to see.

[2021-08-27 11:59] #74 closed, assigned to How-Bout-No

[2021-08-27 15:14] NebulaBC opened #75 "[BUG] Players randomly crashing"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run with Java 8

**Describe the bug**
Randomly, players on my All of the Fabric 4 server will crash, sometimes at the same time, sometimes at a separate time. There does not appear to be any output in console besides Disconnected.

**To Reproduce**
Steps to reprod

[2021-08-27 17:10] Muffintiem opened #76 "[BUG] Glutton spawn issues"
This is a lower priority bug since it doesn't crash the game or anything but in custom biomes sometimes the wrong Gluttons are spawning. Like I'm finding swamp Gluttons in desert biomes.

[2021-08-27 19:36] How-Bout-No commented on #76
What version is this on?

[2021-08-27 20:10] Muffintiem commented on #76
Most recent one for Fabric 1.17.1. Alpha 12 I think.

[2021-08-27 21:16] 1-1037 commented on #73
I did try with the 4x4 initially, but after a couple of minutes of trying it didn't work, though that could just be me.

[2021-08-28 00:28] Muffintiem opened #77 "[BUG] Ostrich saddle causing crash."
In the 1.17.1 Alpha 12 version of Outvoted I got a crash when I tried putting a saddle on a tamed Ostrich.

https://pastebin.com/k7R1xWjV

[2021-09-02 19:14] hacktheplanet86 opened #79 "Kraken spawns en masse in twilight forest. (kinda lols)"
So I was exploring the TF in creative mode and noticed a big lake, which are kind of rare in that dimension.  I was kind of surprised to see what was spawning in it..... (Edit to add version: 1.16.5-1.2.4
![krakenslol](https://user-images.githubusercontent.com/89303901/131902965-52ea04b0-20b7-47ce-8c03-29952ed1e1a8.png)

[2021-09-02 21:48] How-Bout-No commented on #79
Yes modded biomes cause issues, afaik there isn't much for me to do about that. If need be, you could use a mod like In Control to adjust spawn rates.

[2021-09-06 08:41] klugemonkey opened #80 "NPE"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files - but why?
[ ] Run with Java 8 - wait, i can run 1.17.1 on Java 8?,  hmm time to update bug report format.

**Describe the bug**
NPE: missing null pointer check on o.github.how_bout_no.outvoted.entity.BarnacleEntity.getTargetedEntity()

**To Reproduce**
Steps to repro

[2021-09-06 13:20] How-Bout-No commented on #80
Same as #67 I believe but this time the crash is mapped, which is neat. iirc I have this fixed in dev but not in a public build yet.

[2021-09-06 13:22] How-Bout-No commented on #80
(Also, for the bug report template, a lot of config changes happened early in dev so I always recommended resetting the configs to reduce variables. Same with running with Java 8 because, also early on, newer versions of Java were incompatible.)

[2021-09-06 13:22] #79 closed, assigned to nobody

[2021-09-06 13:36] How-Bout-No commented on #75
Sorry I got to this really late, the log link seems to be invalid. Could you reupload it if you're still experiencing the issue?

[2021-09-06 13:45] How-Bout-No commented on #77
Seemed to be some minimal change in maybe a Geckolib version or Fabric itself. Should be fixed in next build. I'd recommend using the latest Geckolib and Fabric API when the time comes.

[2021-09-07 02:58] Muffintiem commented on #80
Just curious when is the ETA on the next public build?

[2021-09-07 03:01] Muffintiem commented on #77
Idk why but any version of Geckolib past 3.0.10 causes my game to be stuck in a loadloop. Everything else worked fine so I just stuck with the earlier version. Maybe it's time for me to go let them know something is up.

[2021-09-08 17:13] How-Bout-No commented on #80
I don't like to set ETAs, maybe in the next day or 2 as of writing?

[2021-09-10 01:23] #80 closed, assigned to How-Bout-No

[2021-09-10 01:23] How-Bout-No commented on #80
Should be fixed in latest alphas. Reopen if problem persists.

[2021-09-10 01:23] #77 closed, assigned to How-Bout-No

[2021-09-10 01:23] #76 closed, assigned to How-Bout-No

[2021-09-10 01:24] How-Bout-No commented on #73
Fixed in latest alpha

[2021-09-10 01:24] #73 closed, assigned to How-Bout-No

[2021-09-10 01:25] How-Bout-No commented on #68
Should be corrected in the latest alphas. Reopen if this is still an issue.

[2021-09-10 01:25] #68 closed, assigned to How-Bout-No

[2021-09-10 01:26] #67 closed, assigned to How-Bout-No

[2021-09-10 14:24] SoggyDiaperz opened #81 "[BUG] Crashing due to barnacle nullpointer"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run with Java 8

**Describe the bug**
A clear and concise description of what the bug is.
I received occasional crashes that the log blames on the barnacle entity, but after reloading the game it seems fine.

**To Reproduce**
Steps to reproduce the behavior:
Not s

[2021-09-10 15:02] How-Bout-No commented on #81
Already should be fixed in latest alphas. Unless it's not. Are you running alpha 13?

[2021-09-11 02:46] SoggyDiaperz commented on #81
Oh sorry, seems I was using alpha 12. Thanks for updating!

[2021-09-11 02:46] #81 closed, assigned to How-Bout-No

[2021-09-12 16:54] Nebula240 opened #82 "[BurrowGenFeature]"
**Describe the bug**
The server is randomly crashing, log points to "BurrowGenFeature"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots/Logs**
https://pastebin.ubuntu.com/p/YFmTXktGxH/
https://pastebin.ubuntu.com/p/ncmXyQG4t

[2021-09-12 17:11] How-Bout-No commented on #82
Does this only happen on the server?

[2021-09-12 17:12] Nebula240 commented on #82
As far as I've seen, yes.
No reports on this bug on singleplayer in the modpack discord nor the issues tab so yes, only in the server

[2021-09-12 17:14] How-Bout-No commented on #82
I see. I'll take a look at it when I get the chance.

[2021-09-12 17:18] Nebula240 commented on #82
Thanks

[2021-09-12 23:10] Edel-Lilies opened #83 "[BUG]Crash 1.16.5"
[crash-2021-09-13_08.02.21-server.txt](https://github.com/How-Bout-No/Outvoted/files/7150457/crash-2021-09-13_08.02.21-server.txt)
look like with iceandfire:deathworm‘s problem?

[2021-09-13 21:12] InteJason commented on #82
Receiving many reports about this in my modpack as well: https://pastebin.com/5zqFgNxe

[2021-09-13 21:19] How-Bout-No commented on #82
I've made a quick [dev jar](https://cdn.discordapp.com/attachments/776261854514905102/886703811387871272/outvoted-2.0.0-alpha.12.1-forge.jar) that may fix this error. Only needed on the server side and not in any public releases atm.

[2021-09-13 21:43] Hachuurui commented on #82
I'll put it in my server to test if that's ok @How-Bout-No ?

[2021-09-13 21:52] Hachuurui commented on #82
This jar appears to have fixed the issue. Thank you so much!

[2021-09-13 22:04] How-Bout-No commented on #82
Good to hear. I don't have time to package a proper release at the moment but will try to get this more public once I've confirmed it doesn't break anything.

[2021-09-13 23:40] kevins88 opened #84 "barncale spawn causing crash[BUG]"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run without mods like Optifine (if needed)
[ ] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
i have been playing on this map for a week now and all the sudden when it tried to spawn in the first barnacle of the day  it crashed. i

[2021-09-13 23:46] How-Bout-No commented on #84
The issue template is here for a reason -.-
Use the latest version, should be fixed in alpha 13

[2021-09-13 23:48] How-Bout-No commented on #84
Sorry, read this wrong. If this crash still happens in alpha 13 can you post the crash log with that version?

[2021-09-14 01:40] kevins88 commented on #84
the paste bin crash report i posted was with the alpha 13

[2021-09-14 03:19] How-Bout-No commented on #84
No it says you had alpha 12 installed in the pastebin.

[2021-09-15 08:48] InteJason commented on #82
any ETA on this going public? It seems to be quite a common crash

[2021-09-15 23:05] How-Bout-No commented on #83
Same issue as #82 but on 1.16

[2021-09-22 10:48] Twosiders opened #85 "Random crash BarnacleEntity"
`The game crashed whilst rendering entity in world
Error: java.lang.NullPointerException: Cannot invoke "net.minecraft.class_1309.method_19538()" because the return value of "io.github.how_bout_no.outvoted.entity.BarnacleEntity.getTargetedEntity()" is null
Exit Code: -1`

Might be the same as
https://github.com/How-Bout-No/Outvoted/issues/84

[2021-09-22 10:50] Twosiders commented on #85
[crash-2021-09-22_12.44.53-client.txt](https://github.com/How-Bout-No/Outvoted/files/7210029/crash-2021-09-22_12.44.53-client.txt)
Attached crash log.
Cannot attach world unfortunately for some unknown reason GitHub is not telling me. Probably too large.

[2021-09-22 10:52] Twosiders commented on #85
I've had the barnacle spawn and attack me multiple times beforehand near the shore, without a problem.
This time it caused a crash it seems. I was on land, around 30 blocks from the ocean.

[2021-09-22 12:10] How-Bout-No commented on #85
As I said in the other issue, this bug should already be fixed in alpha 13 so please update.

[2021-09-29 17:54] #85 closed, assigned to nobody

[2021-09-29 17:54] #84 closed, assigned to How-Bout-No

[2021-10-01 13:27] jadeitemods opened #87 "[BUG] Mob spawn configuration is not functional."
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files **I don't know how to do this, or if they will at all help.**
[ ] Run without mods like Optifine (if needed) **My server's modpack does not run with Optifine.**
[ ] <ins>Double check that you have the latest version!!</ins> **I use the most recent version, the 1.17.1

[2021-10-01 14:47] How-Bout-No commented on #87
If you use mod menu to change mod config, you're only changing the client config. You can't modify server configs from in-game so that has to be done manually in the server config folder.

[2021-10-01 14:48] jadeitemods commented on #87
Ah, thank you.

On Fri, Oct 1, 2021 at 10:47 AM Noah ***@***.***> wrote:

[2021-10-02 14:43] davidalb97 opened #88 "[BUG] [Render thread/ERROR]: No data fixer registered for ..."
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[x] Reset/delete config files
[x] Run without mods like Optifine (if needed)
[x] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
Found multiple errors on the console during minecraft startup.

**To Reproduce**
Steps to reproduce the behavior:
1. Install mods on the

[2021-10-02 15:11] How-Bout-No commented on #88
These errors can be ignored. Data fixers are for if you are updating or downgrading between older versions of the game. They do not produce any crashes or other issues.

[2021-10-02 15:11] #88 closed, assigned to How-Bout-No

[2021-10-04 21:30] #87 closed, assigned to How-Bout-No

[2021-10-10 05:11] lilrichy opened #89 "[BUG]"
**Describe the bug**
Outvoted book is placed in inventory every time a user logs into server. I looked in configs and it dosnt seem to be an option to turn book off on login.

**To Reproduce**
Log out of server and log back in. Get a new book each time. Should only get book on first login.

**Version (please complete the following information):**
 - Minecraft Version  1.17.1
 - Modloader  Fabric

[2021-10-10 09:32] Nebula240 commented on #89
Not only happens on Fabric, happens on forge too.

There are people who have 2 chests filled with nothing than the book 🤣

[2021-10-13 11:45] NantaArthur opened #90 "[BUG] outvoted fabric with new geckolib crash"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run without mods like Optifine (if needed)
[ ] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
I think your mod have some conflict with the new gecko lib 3.0.16

**To Reproduce**
Steps to reproduce the behavior:
1. Update Gecko lib

[2021-10-14 01:24] elbakramer commented on #90
I think [this](https://github.com/bernie-g/geckolib/commit/50bea3996cf3d176202701164d6f3b0a5291bb58) commit broke the dependency. And by seeing [this](https://github.com/bernie-g/geckolib/commit/50bea3996cf3d176202701164d6f3b0a5291bb58#diff-01fba5ea74ce0bbd58eb0368ab3b34f187144782947d7150fbe6d3e4ed530958R24) example, it seems that we can just replace the previous `software.bernie.geckolib3.item.Ge

[2021-10-14 11:22] How-Bout-No commented on #90
A quick glance shows the latest GeckoLib fixed armor rendering and if I had to guess they probably switched up the classes. Changing the class to the vanilla one won't work because it requires the use of GeckoLib rendering. I'll see what I need to change it to.

[2021-10-16 09:33] lilrichy commented on #89
Maybe implementing the give book to new users like how it is described at
https://vazkiimods.github.io/Patchouli/docs/patchouli-basics/giving-new
instead of the current way it is being implemented.
Although I have found the config option to disable the book at login "givePatchouliBookOnLogin": false I must of missed it when I first looked.
This stops the issue however it still should not spam the

[2021-10-16 12:41] How-Bout-No commented on #89
I was actually unaware of this, hence the faulty method being used currently. I'll just migrate to the way it's outlined there. Thank you!

The config name is kinda vague but no it's not intended to give the book at *every* login.

[2021-10-17 10:39] Chuunkyz opened #92 "[BUG] can't disable the book in the latest fabric version"
well, everything is in the title, i don't know if the whole config is broken, but i still get the book when i join the world if i disable it in the config

[2021-10-17 13:16] How-Bout-No commented on #92
Yes because of the switch to advancements for giving books the config won't work easily and I need to find some way to adapt that (if even possible). The good news is in this case it should only ever give out one per user per world.

[2021-10-17 16:22] How-Bout-No commented on #82
Should be fixed in alpha 14

[2021-10-17 16:22] #82 closed, assigned to How-Bout-No

[2021-10-17 16:22] How-Bout-No commented on #90
Should be fixed in alpha 14

[2021-10-17 16:22] #90 closed

[2021-10-17 16:23] How-Bout-No commented on #89
Fixed in alpha 14, but due to using advancements the config option isn't functional, so that will need to be fixed if possible.

[2021-10-18 01:55] malice936 commented on #92
Unfortunately this doesn't hold true for the 1.16.5 version which has given me the book 4 times now every time I load my world, otherwise very pleased with the mod.

[2021-10-18 02:05] How-Bout-No commented on #92
Yes, 1.16.5 hasn't received an update yet. The Fabric was a silent launch since it was small.

[2021-10-20 23:27] Rav10li opened #93 "[BUG] Some doors and trapdoors look identical"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run without mods like Optifine (if needed)
[ ] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
A clear and concise description of what the bug is.
The Palm Door looks like the Jungle Door and the Baobab Door looks like the Acacia D

[2021-10-20 23:42] How-Bout-No commented on #93
Duplicate #72. Palm and Baobab do not have unique textures as of right now.

[2021-10-20 23:42] #93 closed, assigned to How-Bout-No

[2021-10-21 01:25] supersaiyansubtlety opened #94 "[Request] stop gluttons fighting creepers"
**Is your feature request related to a problem? Please describe.**
Gluttons (at least the swamp variety) fight creepers, and the creepers explode. This causes random explosions around the world wherever both can spawn.

**Describe the solution you'd like**
It'd be great if this behavior were removed or an  option to disable it were added.

**Additional context**
I'm using Fabric on MC 1.17.1, and

[2021-10-25 18:52] SplendidAlakey opened #95 "[BUG] The guide book can't be obtained on [FABRIC] Outvoted-1.5.0-beta.1"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[✔] Reset/delete config files
[✔] Run without mods like Optifine (if needed)
[✔] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**

When trying to craft an Outvoted guide book by combining a lava bucket with a book, no output is given. The book also fails to be given

[2021-10-25 19:16] How-Bout-No commented on #95
Oh... odd. I guess that's one thing I missed, since in dev it's always broken but outside of dev it always seemed to work. Will work on a fix.

Edit: It actually looks like 2.0 patchouli entries are in 1.5, hoping that's the only reason it's broken...

[2021-10-25 20:10] SplendidAlakey opened #96 "[BUG] Client crashes upon using a Honeycomb on a Copper golem due to a mod conflict"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[✔] Reset/delete config files
[✔] Run without mods like Optifine (if needed)
[✔] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**

When having a lot of mods loaded together with Outvoted, the client crashes upon using a Honeycomb on a Copper golem when playing on a

[2021-10-25 20:20] How-Bout-No commented on #96
I'll see if I can narrow down the issue. Seeing as this is a client only crash, it should be easier to deduce.

[2021-10-25 20:57] How-Bout-No commented on #96
Also is this a modpack on CurseForge or is this one you setup? Cause it would be easier for me to pick apart that way

[2021-10-25 21:02] SplendidAlakey commented on #96
It's my own custom modpack. I based it on [Better Minecraft](https://www.curseforge.com/minecraft/modpacks/better-minecraft-fabric) and [All Of Fabric 4](https://www.curseforge.com/minecraft/modpacks/all-of-fabric-4), but I have some mods they don't and vice versa.

[2021-10-25 21:33] How-Bout-No commented on #96
Would you be able to test this jar? Considering this is a client crash it should probably only be needed on the client (assuming it works :P) [outvoted-1.5.0-b2.zip](https://github.com/How-Bout-No/Outvoted/files/7413646/outvoted-1.5.0-b2.zip)

[2021-10-25 21:44] SplendidAlakey commented on #96
It works. The crash doesn't happen anymore. Thank you!

I noticed that now they can only be waxed once (could be waxed infinitely before), which I would guess was the issue?

[2021-10-25 21:51] How-Bout-No commented on #96
Actually, that's a separate bug that I also fixed in this dev version lol. I believe the problem was that code for the axe interaction was accidentally used for the Honeycomb (and copper ingot too) and so it was trying to damage the Honeycomb item when it couldn't? Theoretically this should also probably crash the server too but maybe I just don't get it. I also went and removed some ambiguity bet

[2021-10-26 13:47] frikinjay opened #97 "Oxidized Copper Golems reset pose after rejoin on single player[BUG]"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run without mods like Optifine (if needed)
[ ] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
Oxidized Copper Golems reset pose after rejoin on single player.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a single p

[2021-10-26 15:24] SplendidAlakey opened #98 "[BUG] Copper button is missing a recipe"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[✔] Reset/delete config files
[✔] Run without mods like Optifine (if needed)
[✔] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**

Copper button is missing its recipe, making it unobtainable in survival.

**To Reproduce**

Steps to reproduce the behavior:

1. Unlock

[2021-10-26 15:24] How-Bout-No commented on #98
Don't know *how* I missed this but I realized shortly after release that the recipes were gone. Will be corrected in beta 2.

[2021-10-26 15:37] How-Bout-No commented on #97
Oh what. Wondering what caused this to break. Can you confirm if it only happens in singleplayer?

[2021-10-26 16:56] frikinjay commented on #97
I havent tried it on a server, but i can confirm it happens on single player.

[2021-10-26 21:06] SplendidAlakey commented on #97
It happens on servers too.

Before restart:
![2021-10-26_22 58 48](https://user-images.githubusercontent.com/86702831/138960609-d27b0a32-0acf-4dba-bd37-aaaed970fbf2.png)

After:
![2021-10-26_23 02 54](https://user-images.githubusercontent.com/86702831/138960631-2e02371b-c5b4-4712-8a3a-2d07a670343f.png)

There's also a [Mob Catcher](https://www.curseforge.com/minecraft/mc-mods/mob-catcher-fabric) m

[2021-10-28 15:22] How-Bout-No commented on #97
Somewhat fixed in beta 2, however it needs a bit more work due to client/server desync so I'm leaving this open until then.

Here's the current issue: if the Golem oxidizes and then rotates after it's frozen, then its actual position/rotation is where it was before it rotated (as this rotation only happens on the client side). The client gets updated with the server values on relog, but I'm workin

[2021-10-28 15:22] How-Bout-No commented on #96
Fixed in public beta 2

[2021-10-28 15:22] #96 closed, assigned to How-Bout-No

[2021-10-28 15:23] How-Bout-No commented on #94
Implemented in the 1.5 betas, will be migrated to 2.0 alphas after.

[2021-10-28 15:23] #94 closed, assigned to How-Bout-No

[2021-10-28 15:26] How-Bout-No commented on #95
Book issues should be fixed in beta 2, at least on new logins players are given a book and the book opens without problems.

Also, due to the way Patchouli works (or maybe the way I'm using Patchouli) the command to give a book would be `/give whoever patchouli:guide_book{"patchouli:book": "outvoted:book"}` as the book is dependent on Patchouli and not it's own unique item within the mod, if that

[2021-10-28 15:26] #95 closed, assigned to How-Bout-No

[2021-10-28 15:29] How-Bout-No commented on #98
Recipes are somewhat fixed in beta 2. The only discrepancy is that single Copper Blocks already have a recipe that converts it into ingots. Currently the only way to get a normal Copper Button is either use a mod that allows multiple recipes from the same items (can't remember the name but ik it's out there) or craft an Exposed/Weathered/Oxidized Copper Button and scrape it with an axe. Not intuit

[2021-10-28 15:29] #98 closed, assigned to How-Bout-No

[2021-10-28 15:48] Gbergz opened #99 "[BUG-1.17.1] Crash when clicking an item related to the Barnacle in JEI. (WITH JEI Resources addon.)"
**Describe the bug**
Clicking an item related to the Barnacle in JEI makes the game flash white stupidly fast then crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Outvoted + GeckoLib & JEI & JEI Resources.
2. Show uses related to a Barnacle item.
3. Game starts to flash uncontrollably (rip eyes).
4. Crash.

**Screenshots/Logs**
https://gist.github.com/Gbergz/aa0de0bbce8f6dce7a

[2021-10-28 15:49] SplendidAlakey commented on #98
The mod is called [Polymorph](https://www.curseforge.com/minecraft/mc-mods/polymorph-fabric).

Also grabbing recipes from REI works, if I choose ingots I get ingots, if I choose the button, I get the button.

[2021-10-28 16:09] SplendidAlakey opened #100 "[BUG] Server crash on join with [FABRIC] Outvoted-1.5.0-beta.2."
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[✔] Reset/delete config files
[✔] Run without mods like Optifine (if needed)
[✔] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**

When trying to join a server with [FABRIC] Outvoted-1.5.0-beta.2 installed, the server will crash.

**To Reproduce**

Steps to reproduc

[2021-10-28 17:56] How-Bout-No commented on #100
Man I can't get a break can I 😆. I did all my testing and everything. If I had to guess maybe I didn't check for proper conversion between existing golems and the new and improved golems? I'll have to take a look once I get off work in a few hours, otherwise I'd push an emergency fix rn.

[2021-10-28 18:02] SplendidAlakey commented on #100
No worries, happens to me all the time with testing stuff, seems like I've gone over everything and then something turns up anyway 😄 Yeah I also suspect the issue being with old (possibly only fully oxidized) golems not updating properly or something.

[2021-10-28 18:22] How-Bout-No commented on #99
Oh wow, sorry your eyes had to get destroyed. Did this happen in beta 1 at all? And does it only happen with the Barnacle?

[2021-10-28 18:27] Gbergz commented on #99
I'll get back you with an answer to that when I am home !

[2021-10-28 19:44] Gbergz commented on #99
Yep, it still happens on Beta 1

**EDIT:** Here's a GIF on the situation. Just left-clicking the Barnacle Tooth in JEI.
https://gyazo.com/356996ae20f6ee628a7cb3fdbc11362b

[2021-10-29 00:40] How-Bout-No commented on #99
Oh wow yea that's awful. Really confused on what the hell might be causing that, I'll have to do some digging tomorrow.

[2021-10-29 00:54] How-Bout-No commented on #100
Should hopefully be fixed now in beta 3.

[2021-10-29 00:57] How-Bout-No commented on #98
Interesting. I'd rather try and avoid recipe conflicts, especially ones that clash directly with vanilla recipes. In beta 3 I've redone the recipes where 1 Copper Ingot = 1 Copper Button and removed the recipes for the oxidization stages.

[2021-10-29 09:42] SplendidAlakey commented on #100
Just tried it and joined without an issue, thank you!

[2021-10-29 09:42] #100 closed, assigned to How-Bout-No

[2021-10-31 20:47] BugmanBugman commented on #99
Got crash from the Barnacle too
https://crashy.net/SUfNSwP5oiyRqy0I0MXr

[2021-10-31 21:35] How-Bout-No commented on #99
I've figured out *where* it crashes code-wise but I can't determine *why* it's crashing, for whatever reason it just isn't finding a method that should be there. Will be fixed next beta.

[2021-11-08 18:53] How-Bout-No commented on #75
Closed due to no response.

[2021-11-08 18:53] #75 closed, assigned to How-Bout-No

[2021-11-08 23:30] GudPiggeh opened #101 "[BUG] fabric 1.17.1 maxEnchantments bug"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[O ] Reset/delete config files
[ O] Run without mods like Optifine (if needed)
[ O] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
When a glutton has the max amount of enchantments stored, it will take one more enchantment from an additional item, now storing max+

[2021-11-09 00:37] How-Bout-No commented on #101
Hm, seems I'm gonna have to dive back into the spaghetti that is Glutton enchanting code.

[2021-11-09 05:30] paulzzh opened #102 "[BUG]Client crashes when right click the oxidized copper golem with an axe"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[] Reset/delete config files
[] Run without mods like Optifine (if needed)
[] <ins>Double check that you have the latest version!!</ins>

I'm playing the latest Better Minecraft [FABRIC] v17 hf.

**Describe the bug**
I'm playing SMP.I try to scrape my copper golem.The client crashes.

**To Reprodu

[2021-11-09 12:38] How-Bout-No commented on #102
Oh what? I'm surprised this wasn't fixed in the changes I did for #96. I'll look into it.

[2021-11-09 14:44] paulzzh commented on #102
Now I can reproduce in singleplayer and multiplayer.
It's related to the gamemode.
When I'm in survival mode, the game crashes.
When I'm in creative mode, it works fine.

[2021-11-10 03:36] How-Bout-No commented on #102
Whoops double commit. Will be fixed in beta 4.

[2021-11-10 22:02] SHXRKIEgg opened #103 "[BUG] Forge Servers do not work"
**Describe the bug**
Mod Crashing Server side 1.17.1

**To Reproduce**
Steps to reproduce the behavior:
1. Add Mods to Server
2. Run Server
3. Crash
4. See mod loading error

**Screenshots/Logs**
https://pastebin.com/eXzhtY6C

**Version (please complete the following information):**
 - Minecraft Version [1.17.1]
 - Modloader [Forge]
 - Mod Version [outvoted-1.5.0-beta.3]

**Additional context**
I

[2021-11-10 23:25] How-Bout-No commented on #103
Uh... very weird. Obviously the log blames Outvoted but nothing in the actual crash has anything to do with it from what I can see. I'll see if I can get a basic server running on my end.

[2021-11-10 23:50] How-Bout-No commented on #103
Yup, confirmed crashing on my end. Really odd. I have very little to go off of here I'll see what I can do.

[2021-11-10 23:51] SHXRKIEgg commented on #103
Yeah was trying to add it to my Better MC Modpack. Thanks the help

[2021-11-14 19:49] efe-erkaslan opened #104 "[BUG]"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run without mods like Optifine (if needed)
[ ] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. spawn copper golem with oxidat

[2021-11-14 19:52] How-Bout-No commented on #104
Duplicate of #102

[2021-11-14 19:52] #104 closed, assigned to How-Bout-No

[2021-11-17 01:07] itsdinkd opened #105 "[BUG] Mixin Conflict on Modloader 0.12.5"
Conflicting with carpet addon mod, Carpet Fixes. Due to this, These two mods (outvoted and carpet fixes) prevent server from starting up. It worked fine on 0.11.7, however not on 0.12.5.

The dev for Carpet Fixes said to stop using @Override as there is nothing he can do on his end

![image](https://user-images.githubusercontent.com/35115304/142090798-11ed28e7-1f53-4bb7-984a-e9d3abb26941.png)

[21

[2021-11-17 02:03] How-Bout-No commented on #105
Oh ok if it's just the method override causing issues that's a simple fix. It is probably better practice on my part to not override anything I don't need to in mixins.

[2021-11-19 01:53] How-Bout-No commented on #89
Config check fixed in the 1.5 betas, will be merged into 2.0 alphas after release.

[2021-11-19 01:53] #89 closed, assigned to How-Bout-No

[2021-11-19 19:26] How-Bout-No commented on #105
Should be fixed in beta 4

[2021-11-19 19:26] #105 closed, assigned to How-Bout-No

[2021-11-19 19:27] How-Bout-No commented on #102
Fixed in beta 4

[2021-11-19 19:27] #102 closed, assigned to How-Bout-No

[2021-11-19 19:28] #99 closed, assigned to How-Bout-No

[2021-11-19 19:29] How-Bout-No commented on #92
Fixed in beta 4

[2021-11-19 19:29] #92 closed, assigned to How-Bout-No

[2021-11-19 22:46] WolfBV opened #106 "[MobZ @Redirect crash] Fabric 1.17.1"
**Describe the bug**
Crash with MobZ when launching an instance

**To Reproduce**
Steps to reproduce the behavior:
1. Download Outvoted-1.5.0-beta.4
2. Download Geckolib 3.0.16 or higher
3. Download MobZ-3.2.0-fabric.jar
4. Launch

**Screenshots/Logs**
https://pastebin.com/pES1hbLV

**Version (please complete the following information):**
 - Minecraft Version 1.17.1
 - Modloader Fabric

[2021-11-20 06:57] Rav10li opened #107 "[BUG] The glare spawns in mushroom fields"
**Describe the bug**
The glare is spawning everywhere in the mushroom fields biome and i'm pretty sure this is a bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a world
2. Type the command, /locate mushroom_fields
3. Teleport to the coordinates that were given
4. Notice that the glare is spawning everywhere

**Screenshots/Logs**
If applicable, add screenshots to help explain your

[2021-11-20 15:32] How-Bout-No commented on #107
Yea safe to say that's not supposed to happen 😅. Something about this biome must mess with the light level and y level checks or something. I think I need to redo it's spawn mechanics in general.

[2021-11-20 15:37] How-Bout-No commented on #106
I am actually unsure if I can do anything about this. From what I know, this specific mixin redirect is required for modded shields to work properly, so its not like I can remove it.

[2021-11-20 17:57] WolfBV commented on #106
I'll ask rikka

[2021-11-25 08:25] serioos opened #108 "Server start missing registry fixer errors"
The server throws these errors on Fabric.

[10:37:47] [main/ERROR]: No data fixer registered for outvoted:wildfire
[10:37:47] [main/ERROR]: No data fixer registered for outvoted:glutton
[10:37:47] [main/ERROR]: No data fixer registered for outvoted:barnacle
[10:37:47] [main/ERROR]: No data fixer registered for outvoted:glare
[10:37:47] [main/ERROR]: No data fixer registered for outvoted:copper_gol

[2021-11-25 16:14] How-Bout-No commented on #108
Duplicate of #88. These errors can be ignored and don't affect anything.

[2021-11-25 16:14] #108 closed, assigned to How-Bout-No

[2021-11-26 21:14] Gbergz opened #109 "[BUG-1.16.5] Server crashes when world generates for the first time. (Gets stuck at preparing spawn area X%.)"
**Describe the bug**
Server crashes when world generates for the first time.
(Gets stuck at preparing spawn area X%.)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to install mod on server.
2. Start it.
3. Let it try to generate world.
4. Stuck.
5. Crash but doesn't close, gets stuck at preparing spawn area.

**Logs**
https://gist.github.com/Gbergz/6081a1fea409ae759e2d8e36bd69d1f3

**Ve

[2021-11-26 21:30] Gbergz commented on #109
Ignore this. Regenerated the config and now it seems to work fine.

[2021-11-26 21:47] Gbergz commented on #109
Seems to happen again after some restarts. How weird..

[code]

[2021-11-28 17:24] Gbergz commented on #109
Any clues?

[2021-11-28 18:21] How-Bout-No commented on #109
Interesting. To take it at face value a method is missing that shouldn't be missing as far as I am aware. Even more odd is that it fixed itself after a *config* reset? I'll take a look if I have time aside from 1.5.

[2021-11-28 18:22] How-Bout-No commented on #106
I just took the simple approach and instead of redirecting just inject the mixin at the start and go from there. Will be fixed next beta.

[2021-11-28 18:25] Gbergz commented on #109
Seems it was just a fluke, it's like 20% success on boot now. (that it actually starts).

[2021-11-29 13:49] How-Bout-No commented on #101
Should be fixed in beta 5

[2021-11-29 13:49] #101 closed, assigned to How-Bout-No

[2021-11-29 13:49] How-Bout-No commented on #106
Fixed in beta 5

[2021-11-29 13:50] #106 closed, assigned to How-Bout-No

[2021-11-29 13:50] How-Bout-No commented on #107
Glare spawning was redone, so this issue should be solved in beta 5

[2021-11-29 13:50] #107 closed, assigned to How-Bout-No

[2021-12-01 22:44] How-Bout-No commented on #109
Is this on the same server? And are you using a certain world seed or generating randomly? I haven't been able to recreate this on my end so far.

[2021-12-01 23:31] Gbergz commented on #109
Same server. Crash happens almost every time.
Same logs as above.

[2021-12-01 23:45] How-Bout-No commented on #109
Yea I can't manage to replicate the error on my end, at least with just Outvoted and the dependencies. Server always starts fine without issue. Are you using the latest Forge version?

[2021-12-01 23:46] Gbergz commented on #109
Hm, strange. Yes latest forge.

[2021-12-01 23:49] How-Bout-No commented on #109
I'll modify/mess around with my test env to see if I can get this error to come out. I think I might just need to force a spawn near the desert.

[2021-12-02 00:14] How-Bout-No commented on #109
Ah, wait, now I recognize the error. Been a while since I've worked on 2.0 but this is the same issue as #82 and #83, I just never published a fix for 1.16.5 :P
Kinda overcomplicated this, but safe to say I was able to reproduce the crash and have a fix ready.

[2021-12-02 00:18] How-Bout-No commented on #109
Fixed in alpha 13

[2021-12-02 00:18] #109 closed, assigned to How-Bout-No

[2021-12-02 00:18] #83 closed, assigned to How-Bout-No

[2021-12-03 03:52] FatherGuse opened #110 "[BUG] - You failed to add new Dependencies to your file page for the latest Mod Update"
Downloaded your recent update .. Crash Report listed below .. Never had a problem with your mod before, so this was a surprise .. and fwiw .. neither of these are listed as  dependencies .. and yes I have GeckoLib and Patchouli ..

.. Might I suggest you add those API dependencies to your File Page? Might save someone else some trouble.

-- MOD outvoted --
Details:
	Mod File: outvoted-2.0.0-alpha.

[2021-12-03 04:05] How-Bout-No commented on #110
The dependencies are already listed on the file page (https://www.curseforge.com/minecraft/mc-mods/outvoted/files/3544511). If you were just updating the mod from alpha 12 to 13, the dependencies are the same but just newer versions.

[2021-12-04 02:59] PhweeDev commented on #110
You're missing architectury and cloth config.

[2021-12-04 03:07] PhweeDev opened #111 "[URGENT BUG] - Breaking Vanilla and Modded Logs Do Not Drop"
Version: 1.16.5, Forge - 36.2.19 (Tested on 36.2.0 aswell)
Mod Version: Outvoted 2.0.0 Alpha 13

Replication: Add mods like BYG and then Outvoted & its' dependencies. break any tree in survival mode, and you don't get any wood/logs.

[2021-12-05 17:12] How-Bout-No commented on #111
Oof a 2.0 bug. Was this present in any earlier versions than alpha 13?

[2021-12-05 17:14] How-Bout-No commented on #110
Closing as this isn't a bug.
If you were more asking to have *all* the dependencies listed on the main mod page, that will only really be done once either 1.5 or 2.0 gets a proper release, since only the betas/alphas use Arch and Cloth and the current main releases do not.

[2021-12-05 17:14] #110 closed, assigned to How-Bout-No

[2021-12-05 17:56] How-Bout-No commented on #97
Closing this now since any desync in the current versions seems to be sufficiently corrected.

[2021-12-05 17:56] #97 closed, assigned to How-Bout-No

[2021-12-06 20:16] PhweeDev commented on #111
No. it was not present in 1.16 Alpha 12. Only in 1.16 Alpha 13

[2021-12-06 21:27] How-Bout-No commented on #111
I'm not exactly sure why this bug was caused, but I changed some stuff around and it seems to be working fine in alpha 13.1.

[2021-12-06 21:27] #111 closed, assigned to How-Bout-No

[2021-12-08 14:40] How-Bout-No commented on #103
Figured I should issue an update: unfortunately, not much progress has been made. This crash is out of my abilities and I'm not getting much update from others who are much more knowledgeable than I am. I will still continue experimenting with my end fwiw.

[2021-12-10 07:44] AlisterGontineac opened #112 "[BUG] Random crash"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:

**Describe the bug**
Crash, think something to do with the glare

**To Reproduce**
Steps to reproduce the behavior:
not sure

**Screensho
[Crashy Outvoted log.txt](https://github.com/How-Bout-No/Outvoted/files/7690946/Crashy.Outvoted.log.txt)
ts/Logs**

**Version (please complete the following in

[2021-12-11 19:58] How-Bout-No commented on #112
Hm... this is weird. Were you doing anything to/with a Glare in-game?

[2021-12-11 20:04] How-Bout-No commented on #112
Looking at the crash report it seems as the Glare that caused the crash for whatever reason is holding Glow Ink Sacs and is trying to place them down... dk why or how it picked them up in the first place

[2021-12-12 18:59] AlisterGontineac commented on #112
No, that's really odd.
I was in a mountain base. Glare naturally spawned in, and as far as I can remember, I didn't use or drop down ink glow sacks.
Does that mean I can't drop anything without a glare trying to pick it up and crash?

Is the ability to pick things up an unintended bug brought on by another mod possibly? So weird.

[2021-12-12 21:39] How-Bout-No commented on #112
It seems I just didn't apply the item filter to picking up items passively, only for the Glare to actively try and pick them up. Meaning that the Glare would pick up any item it happened to run into; so in this case a glow squid must've died and the Glare happened to coast thru its death spot.

Will be fixed next release.

[2021-12-12 21:41] AlisterGontineac commented on #112
Ha ha, well that's wild. Thank you very much, I love using this mod!

[2021-12-16 06:09] rikka0w0 commented on #106
How is this be fixed? I'm thinking if I can do something on my side to improve the compatibility.

I just remembered Fabric is missing a custom shield API.

[2021-12-16 12:18] How-Bout-No commented on #106
I basically just made a copy of the entire original method but changed the initial item check, and injected that into the method rather than redirecting anything. Definitely not elegant but ensures compatibility.
See here: https://github.com/How-Bout-No/Outvoted/blob/1.17.1/fabric/src/main/java/io/github/how_bout_no/outvoted/fabric/mixin/MixinPlayerEntity.java#L35

[2021-12-17 05:34] rikka0w0 commented on #106
That's really helpful and I should do the same change to improve compatibility with other mods.

The best solution is to tell Fabric to add a shield API.

[2021-12-19 03:30] tariqk commented on #112
Hey, not sure if this is related, but I was minding my own business on my base when Minecraft randomly crashed. Same mob, but different error message, linked [here](https://gist.github.com/tariqk/bd25a92837daf60be5d35e90392ff302).

I'm running this on Minecraft 1.17.1, running the Fabric modloader, with Outvoted's version being `outvoted-1.5.0-rc.1`.

Is crash referring to the same problem, or sho

[2022-01-02 00:50] TIFFERT97159 opened #113 "Ticking Entity: The Glare"
I have a ticking entity in my modded (All of Fabric 4) server that causes my game to crash immediately after I join. i have tried many variations of the /kill @'s but none have worked. The entity has been identified as a glare (from the outvoted mod). Even after setting the mod to not spawn them the crash still happens. I submitted a note file of my crash report!

[Crash Report.txt](https://github

[2022-01-05 09:51] Zegveld commented on #113
This seems to be the same issue as #112
I've had the same issue and tested it with the latest build. (repo checkout and build locally)
Seems to be fixed, so next release will not have this crash.

[2022-01-05 09:52] Zegveld commented on #112
I've had the same issue as @tariqk and tested it with the latest build. (repo checkout and build locally)
Seems to be fixed, so next release will not have this crash.

[2022-01-12 23:37] Zegveld commented on #103
The ArrayIndexOutOfBoundsException seems to be caused by `net.minecraft.client.model.HumanoidModel` class not being found.

Don't know why but when it tries to load the `io.github.how_bout_no.outvoted.forge.ModEventBusSubscriber` class it also wants to load `software.bernie.geckolib3.renderers.geo.GeoArmorRenderer` which in its turn causes the attempt to load the `net.minecraft.client.model.Humano

[2022-01-16 23:52] Thedeur opened #114 "[BUG] Hunger can't enchant books after eating certain amounts of enchanted items (cross-compatibility with other mods)"
This is more of a cross-compatibility issue with other mods' enchantments I presume, but after feeding the Hunger several different enchantments (which are all able to be combined on an anvil, I checked), it refuses to enchant any book fed. It doesn't simply reject the enchanted items; it eats them, then it won't spit anything out again. It won't eat anything else either, leaving it useless.

Exam

[2022-01-16 23:55] Thedeur commented on #114
Never mind, I guess I didn't read the config where you can set the amount of enchantments stored. I changed that number, and now everything is fine and dandy again.

[2022-01-16 23:55] #114 closed, assigned to How-Bout-No

[2022-01-21 20:00] zedoax commented on #112
Is there a timeline on release of this new version?  I host a server for a lot of my friends to play on and this glitch has caused several of us to be unable to play.  And is there a workaround in the meantime?

[2022-01-29 17:04] Mizuuta opened #115 "China Mob Vote and other mobs not added."
**Is your feature request related to a problem? Please describe.**
No, i'm only want to say also other things (not only mobs) didn't come to Minecraft.

**Describe the solution you'd like**
So, these things are didn't outvoted (but by the China mob vote mobs was outvoted), but it would be nice when she been added. I say now the things (pictures from the things are in additional Context). The mobs:

[2022-01-29 17:15] Mizuuta commented on #115
Ohh, i see the Soul Blaze is in the Code.

[2022-02-02 14:32] rinbown opened #116 "I can not start the game"
/Before submitting, please ensure you've done the following, as these are fixes for some common bugs:
[ ] Reset/delete config files
[ ] Run without mods like Optifine (if needed)
[ ] <ins>Double check that you have the latest version!!</ins>

**Describe the bug**
Incompatible mod set

**To Reproduce**
1. Start the game
2. See crash

**Screenshots/Logs**
![Snímek obrazovky 2022-02-02 153101](https:

[2022-02-02 15:35] Mizuuta commented on #116
I can tell you why it’s didn’t working. You must install fabric-api geckolib architectury and cloth config. I hope that this helps.

[2022-02-03 09:20] rinbown commented on #116
![image](https://user-images.githubusercontent.com/98895053/152314508-9b883629-5dd4-4708-ad10-f3b7098c303b.png)
Still not working

[2022-02-03 09:24] rinbown commented on #116
![image](https://user-images.githubusercontent.com/98895053/152315107-6d0562f8-8306-408b-8fd9-2a881f53f1cc.png)
Then I tried running it on 1.18.1. I have architectury API so...

[2022-02-03 09:28] rinbown commented on #116
And crashed without fabric log.
Here is MC log.
[latest.log](https://github.com/How-Bout-No/Outvoted/files/7993274/latest.log)

[2022-02-03 15:58] Mizuuta commented on #116
Have you installed the other things for 1.17.1 or an other version. I mean Outvoted is for 1.17.1 and may by something has the wrong Minecraft version.

[2022-02-03 16:13] Mizuuta commented on #116
Or you have Unintentionally Installed a mod for forge instead of fabric. I mean many mods have on curseforge one page. In the download section are then eventually a fabric and a forge release. And many people  can get confused (also my).

[2022-02-03 18:22] rinbown commented on #116
I have every mod on fabric

[2022-02-03 18:33] rinbown commented on #116
![image](https://user-images.githubusercontent.com/98895053/152406541-7937920c-ae96-4773-baf6-fbfe00f90254.png)
So I have to replace the version to be this version but on 1.17.1.

[2022-02-03 18:46] Mizuuta commented on #116
I think you have the 1.18 version of geckolib but you need the 1.17.1 version

[2022-02-04 10:50] rinbown commented on #116
It is working now, thank you.

[2022-02-04 17:39] rikka0w0 commented on #106
You may want to have a look at this:
https://www.curseforge.com/minecraft/mc-mods/fabric-shield-lib/files/3544625

A shield API!

[2022-06-24 16:37] SheReyy opened #117 "[BUG] Krakens in the Twilight Forest"
**Describe the bug**
In the `Lake` biome from the Twilight Forest, there are way too many Krakens spawning.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Twilight Forest
2. Install Outvoted
3. Open the game
4. Go to the Lake biome form Twilight Forest
5. Admire the Krakens

**Screenshots/Logs**
![image](https://user-images.githubusercontent.com/91336389/175591429-c8bd4a7c-5a05-4cdb

[2022-07-20 22:30] sanegaming commented on #112
This error is still occurring for me as well:

`[04:14:35] [Server thread/ERROR]: Encountered an unexpected exception
net.minecraft.class_148: Ticking entity
        at net.minecraft.server.MinecraftServer.method_3813(MinecraftServer.java:895) ~[server-intermediary.jar:?]
        at net.minecraft.class_3176.method_3813(class_3176.java:335) ~[server-intermediary.jar:?]
        at net.minecraft.serv

[2022-09-05 22:20] RitaMaSTeR opened #118 "Hunger spawn even with MegaTorch"
Ttitle.

I'am playing Medieval MC 55.5 1.16.5 and the Hunger spawn and kill my Coloniests  Even with MegaTorchs and normal torches all around, There are NO darkspots in my village and they spawn =/

[2022-10-09 07:00] Sleet827 opened #119 "Rename the 2017 mobs?"
Mob A and Mob D from the 2017 mob votes have received official names from Mojang (Wildfire and Barnacle respectively), so would it be possible to rename all of them to the official ones? Mob C didn't receive an official name so it can be called the Hunger only, but the others could be renamed (and I could create a PR as well if you want.)

[2022-10-09 07:01] Sleet827 commented on #119
By the way I forgot to see how to add tags so uh that's why it isn't having an appropriate tag (or any tag for that matter)

[2022-11-24 01:13] othello777 commented on #112
We also have this crash. for now we just run `kill @e[type=outvoted:glare]` regularly and that keeps the server from crashing mostly